<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="user-panel/user_layout :: template_header"></head>
<body>
<div class="full-height" id="bg-borrow">
<nav th:replace="user-panel/user_layout :: navigation"></nav>
<!-- Portfolio Grid -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Chcesz coś wypożyczyć? </h2>
                <h3 class="section-subheading text-muted">Przygotowaliśmy dla Ciebie kilka kategorii</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" th:href="@{/moje-konto/szukaj(id=1)}">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-book-open fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../images/categories/book.jpg" alt="Książki">
                </a>
                <a th:href="@{/moje-konto/szukaj(id=1)}">
                    <div class="portfolio-caption">
                        <h4>Książki</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" th:href="@{/moje-konto/szukaj(id=3)}">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-film fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../images/categories/movies.jpg" alt="Filmy">
                </a>
                <a th:href="@{/moje-konto/szukaj(id=3)}">
                    <div class="portfolio-caption">
                        <h4>Filmy</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" th:href="@{/moje-konto/szukaj(id=2)}">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-music fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../images/categories/music.jpg" alt="Muzyka">
                </a>
                <a th:href="@{/moje-konto/szukaj(id=2)}">
                    <div class="portfolio-caption">
                        <h4>Muzyka</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" th:href="@{/moje-konto/szukaj(id=5)}">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-cubes fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../images/categories/board_games.jpg" alt="Gry planszowe">
                </a>
                <a th:href="@{/moje-konto/szukaj(id=5)}">
                    <div class="portfolio-caption">
                        <h4>Planszówki</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" th:href="@{/moje-konto/szukaj(id=7)}">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-star fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../images/categories/magazines.jpg" alt="Czasopisma">
                </a>
                <a th:href="@{/moje-konto/szukaj(id=7)}">
                    <div class="portfolio-caption">
                        <h4>Czasopisma</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" th:href="@{/moje-konto/szukaj(id=4)}">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-child fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../images/categories/toys.jpg" alt="Zabawki">
                </a>
                <a th:href="@{/moje-konto/szukaj(id=4)}">
                    <div class="portfolio-caption">
                        <h4>Zabawki</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chcesz opuścić stronę?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Wybierz "Wyloguj" jeżeli chcesz zakonczyć sesję.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Anuluj</button>
                <a class="btn btn-primary" href="/">Wyloguj</a>
            </div>
        </div>
    </div>
</div>

<!-- Order succes modal-->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Gratulacje, Złożono zamówienie!</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Gratulacje! <br><br>
                Udało Ci się złożyć u nas zamówienie produktu (ID). Teraz czekaj, aż osoba wypożyczająca towar potwierdzi termin i miejsce spotkania. <br>
                Wiadomość dostaniesz w Powiadomieniach. <br><br>
                Dziękujemy za korzystanie z naszej aplikacji!</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#successModal").modal('show');
    });
</script>

<!-- Bootstrap core JavaScript-->
<script src="../../user-panel/vendor/jquery/jquery.min.js"></script>
<script src="../../user-panel/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../../user-panel/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="../../user-panel/vendor/chart.js/Chart.min.js"></script>
<script src="../../user-panel/vendor/datatables/jquery.dataTables.js"></script>
<script src="../../user-panel/vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="../../user-panel/js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="../../user-panel/js/demo/datatables-demo.js"></script>
<script src="../../user-panel/js/demo/chart-area-demo.js"></script>

</body>
</html>