<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="user-panel/user_layout :: template_header"></head>
<body id="page-top">
<nav th:replace="user-panel/user_layout :: navigation"></nav>

<div class="full-height pt-3" id="bg-borrow">

<!--
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<title>Fashiop</title>

</head> -->




	<div class="card-header text-center">
		<h1 class="text-uppercase">Panel wypożyczeń</h1>
		<h4 class="section-subheading text-muted">Znajdź i wybierz towary, które chcesz wypożyczyć...</h4>
	</div>

	<!--================Category Product Area =================-->
	<section class="cat_product_area section_gap">
		<div class="container-fluid">
			<div class="row flex-row-reverse">
				<div class="product_top_bar">
					<div class="left_dorp">
						<select class="sorting">
							<option value="1">Default sorting</option>
							<option value="2">Default sorting 01</option>
							<option value="4">Default sorting 02</option>
						</select>
						<select class="show">
							<option value="1">Show 12</option>
							<option value="2">Show 14</option>
							<option value="4">Show 16</option>
						</select>
					</div>
					<div class="right_page ml-auto">
						<nav class="cat_page" aria-label="Page navigation example">
							<ul class="pagination">
								<li class="page-item">
									<a class="page-link" href="#">
										<i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i>
									</a>
								</li>
								<li class="page-item active">
									<a class="page-link" href="#">1</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">2</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">3</a>
								</li>
								<li class="page-item blank">
									<a class="page-link" href="#">...</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">6</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">
										<i class="fa fa-long-arrow-alt-right" aria-hidden="true"></i>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="col-lg-9">


					<div class="latest_product_inner row">
						<div class="col-lg-3 col-md-3 col-sm-6" th:each="product,iter :${availableResources}">
							<div class="f_p_item">
								<div class="f_p_img">
									<a th:href="@{szczegoly(item=${product.getId()})}">
										<div th:if="${images.get(iter.index)} == null">
											<img class="img-gallery" src="../images/sample-products/no_image.png" alt="">
										</div>
										<div th:if="${images.get(iter.index)} != null">
											<img class="img-gallery" th:src="${images.get(iter.index)}"
												 width="100" height="100" alt="">
										</div>
									</a>
									<div class="p_icon">
										<a href="#">
											<i class="lnr lnr-heart"></i>
										</a>
										<a href="wypozycz">
											<i class="lnr lnr-cart"></i>
										</a>
									</div>
								</div>
								<div class="underline-text" style="height: 100px;">
									<a th:href="@{szczegoly(item=${product.getId()})}">
										<h4 th:text="${product.getName()}"></h4>
										<div class="d-flex justify-content-center">
											<h5 th:text="${product.getPoints()}"></h5>
											<h5 class="ml-1"> Borrow Coins</h5>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="left_sidebar_area">
						<aside class="left_widgets cat_widgets">
							<div class="l_w_title">
								<h3>Browse Categories</h3>
							</div>
							<div class="widgets_inner">
								<ul class="main-menu" th:each="category:${categories}">
									<li>
										<a href="#" th:class="menu-href" th:text="${category.getHigherLevelType().getName()}"></a>
										<ul class="level2" th:each="sub1:${category.getSubcategories()}">
											<li>
												<a href="#" th:class="menu-href" th:text="${sub1.getHigherLevelType().getName()}"></a>
												<ul class="level3 pr-3" th:each="sub2:${sub1.getSubcategories()}">
													<li>
														<a href="#" th:class="menu-href" th:text="${sub2.getHigherLevelType().getName()}"></a>
														<ul class="level4 pr-3" th:each="sub3:${sub2.getSubcategories()}">
															<li>
																<a href="#" th:class="menu-href" th:text="${sub3.getHigherLevelType().getName()}"></a>
															</li>
														</ul>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</aside>
						<aside class="left_widgets p_filter_widgets">
							<!-- todo set other widgets -->
							<div class="l_w_title">
								<h3>Product Filters</h3>
							</div>
							<div class="widgets_inner">
								<h4>Brand</h4>
								<ul class="list">
									<li>
										<a href="#">Apple</a>
									</li>
									<li>
										<a href="#">Asus</a>
									</li>
									<li class="active">
										<a href="#">Gionee</a>
									</li>
									<li>
										<a href="#">Micromax</a>
									</li>
									<li>
										<a href="#">Samsung</a>
									</li>
								</ul>
							</div>
							<div class="widgets_inner">
								<h4>Color</h4>
								<ul class="list">
									<li>
										<a href="#">Black</a>
									</li>
									<li>
										<a href="#">Black Leather</a>
									</li>
									<li class="active">
										<a href="#">Black with red</a>
									</li>
									<li>
										<a href="#">Gold</a>
									</li>
									<li>
										<a href="#">Spacegrey</a>
									</li>
								</ul>
							</div>
							<div class="widgets_inner">
								<h4>Price</h4>
								<div class="range_item">
									<div id="slider-range"></div>
									<div class="row m0">
										<label for="amount">Price : </label>
										<input type="text" id="amount" readonly>
									</div>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>

			<div class="row">
				<!-- todo set number of pages -->
				<nav class="cat_page mx-auto" aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item">
							<a class="page-link" href="#">
								<i class="fa fa-chevron-left" aria-hidden="true"></i>
							</a>
						</li>
						<li class="page-item active">
							<a class="page-link" href="#">01</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">02</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">03</a>
						</li>
						<li class="page-item blank">
							<a class="page-link" href="#">...</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">09</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">
								<i class="fa fa-chevron-right" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</section>
	<!--================End Category Product Area =================-->



	<!--================ start footer Area  =================-->
	<footer class="footer-area section_gap">
		<div class="row footer-bottom d-flex justify-content-between align-items-center">
			<p class="col-lg-12 footer-text text-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			</p>
		</div>
	</footer>
	<!--================ End footer Area  =================-->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Chcesz opuscic strone?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Wybierz "Wyloguj" jeżeli chcesz zakonczyć sesje.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Anuluj</button>
					<!-- todo logout from session -->
					<a class="btn btn-primary" href="/">Wyloguj</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="../user-panel/vendor/jquery/jquery.min.js"></script>
	<script src="../user-panel/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="../user-panel/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Page level plugin JavaScript-->
	<script src="../user-panel/vendor/chart.js/Chart.min.js"></script>
	<script src="../user-panel/vendor/datatables/jquery.dataTables.js"></script>
	<script src="../user-panel/vendor/datatables/dataTables.bootstrap4.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="../user-panel/js/sb-admin.min.js"></script>

	<!-- Demo scripts for this page-->
	<script src="../user-panel/js/demo/datatables-demo.js"></script>
	<script src="../user-panel/js/demo/chart-area-demo.js"></script>

</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="../user-panel/category/js/popper.js"></script>
	<script src="../user-panel/category/js/stellar.js"></script>
	<script src="../user-panel/category/js/simpleLightbox.min.js"></script>
	<script src="../user-panel/category/js/jquery.nice-select.min.js"></script>
	<script src="../user-panel/category/js/imagesloaded.pkgd.min.js"></script>
	<script src="../user-panel/category/js/isotope-min.js"></script>
	<script src="../user-panel/category/js/owl.carousel.min.js"></script>
	<script src="../user-panel/category/js/jquery.ajaxchimp.min.js"></script>
	<script src="../user-panel/category/js/mail-script.js"></script>
	<script src="../user-panel/category/js/jquery-ui.js"></script>
	<script src="../user-panel/category/js/jquery.waypoints.min.js"></script>
	<script src="../user-panel/category/js/jquery.counterup.js"></script>
	<script src="../user-panel/category/js/theme.js"></script>

<script>
$('.main-menu > li').click(function () {
    $(this).toggleClass('active');
    $('.level2 > li').removeClass('active');
});

$('.level2 > li').click(function (event) {
    $(this).toggleClass('active');
    event.stopPropagation();
});

$('.level3 > li').click(function (event) {
    $(this).toggleClass('active');
    event.stopPropagation();
});

$('.level4 > li').click(function (event) {
    event.stopPropagation();
});

$('a.menu-href').click(function(e)
{
    // Special stuff to do when this link is clicked...

    // Cancel the default action
    e.preventDefault();
});
</script>
</body>

</html>