<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org/">
  <head>
    <title>Borrow Me!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Pożyczaj przedmioty ludziom">
    <link rel="stylesheet" href="../css/master.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--<script src="../js/activePanel.js"></script>-->
    <script type="text/javascript">
      $(document).ready(function(){
        $(".filmy-toggle-sub").hide();
        $(".ksiazki-toggle-sub").hide();
        $(".muzyka-toggle-sub").hide();
        $(".zabawki-toggle-sub").hide();
        $(".gry-toggle-sub").hide();
        $(".kolekcje-toggle-sub").hide();
        $(".ksiazki-toggle").click(function(){
          $(".ksiazki-toggle-sub").slideToggle();
        });
        $(".filmy-toggle").click(function(){
          $(".filmy-toggle-sub").slideToggle();
        });
        $(".muzyka-toggle").click(function(){
          $(".muzyka-toggle-sub").slideToggle();
        });
        $(".zabawki-toggle").click(function(){
          $(".zabawki-toggle-sub").slideToggle();
        });
        $(".gry-toggle").click(function(){
          $(".gry-toggle-sub").slideToggle();
        });
        $(".kolekcje-toggle").click(function(){
          $(".kolekcje-toggle-sub").slideToggle();
        });
      });
    </script>
  </head>
  <body>

  <!-- NAVBAR -->
  <nav th:replace="user-panel/user_layout :: navigation"></nav><br><br>

    <!-- PRODUCTS NAVBAR -->

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark clearfix">
      <div class="container">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-light font-weight-bold" href="#">WSZYSTKIE KATEGORIE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">TOP 100 produktów</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">TOP 10 wypożyczających</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Najnowsze</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <!-- Kategorie -->
          <div class="col-md-12 bg-dark">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link ksiazki-toggle" href="#">
                  <div class="d-flex align-items-center">
                    <div class="p-1">
                      <button class="tablinks btn text-light font-weight-bold" onclick="openCity(event, 'Category')" id="defaultOpen">
                        Książki
                      </button>
                    </div>
                    <div class="ml-auto text-light">
                      <i class='fas fa-angle-down'></i>
                    </div>
                  </div>

                </a>
                <div class="ksiazki-toggle-sub">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K1
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K2
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K3
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K4
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K5
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K6
                        </button>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link muzyka-toggle" href="#">
                  <div class="d-flex align-items-center">
                    <div class="p-1">
                      <button class="tablinks btn text-light font-weight-bold" onclick="openCity(event, 'Category')">
                        Muzyka
                      </button>
                    </div>
                    <div class="ml-auto text-light">
                      <i class='fas fa-angle-down'></i>
                    </div>
                  </div>
                </a>
                <div class="muzyka-toggle-sub">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K1
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K2
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K3
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K4
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K5
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K6
                        </button>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link filmy-toggle" href="#">
                  <div class="d-flex align-items-center">
                    <div class="p-1">
                      <button class="tablinks btn text-light font-weight-bold" onclick="openCity(event, 'Category')">
                        Filmy
                      </button>
                    </div>
                    <div class="ml-auto text-light">
                      <i class='fas fa-angle-down'></i>
                    </div>
                  </div>
                </a>
                <div class="filmy-toggle-sub">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K1
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K2
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K3
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K4
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K5
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K6
                        </button>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link zabawki-toggle" href="#">
                  <div class="d-flex align-items-center">
                    <div class="p-1">
                      <button class="tablinks btn text-light font-weight-bold" onclick="openCity(event, 'Category')">
                        Zabawki
                      </button>
                    </div>
                    <div class="ml-auto text-light">
                      <i class='fas fa-angle-down'></i>
                    </div>
                  </div>
                </a>
                <div class="zabawki-toggle-sub">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K1
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K2
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K3
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K4
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K5
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K6
                        </button>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link gry-toggle" href="#">
                  <div class="d-flex align-items-center">
                    <div class="p-1">
                      <button class="tablinks btn text-light font-weight-bold" onclick="openCity(event, 'Category')">
                        Gry i programy
                      </button>
                    </div>
                    <div class="ml-auto text-light">
                      <i class='fas fa-angle-down'></i>
                    </div>
                  </div>
                </a>
                <div class="gry-toggle-sub">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K1
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K2
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K3
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K4
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K5
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K6
                        </button>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link kolekcje-toggle" href="#">
                  <div class="d-flex align-items-center">
                    <div class="p-1">
                      <button class="tablinks btn text-light font-weight-bold" onclick="openCity(event, 'Category')">
                        Artykuły kolekcjonerskie
                      </button>
                    </div>
                    <div class="ml-auto text-light">
                      <i class='fas fa-angle-down'></i>
                    </div>
                  </div>
                </a>
                <div class="kolekcje-toggle-sub">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K1
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K2
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K3
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K4
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K5
                        </button>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="#">
                        <button class="tablinks btn text-light" onclick="openCity(event, 'Subcategory')">
                          K6
                        </button>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>


          </div>
        </div>

        <!-- KATEGORIE -->
        <div id="Category" class="col-md-8 tabcontent">
          <div class="jumbotron row">
            <!-- <div class="container"> -->
            <!-- SZCZEGÓŁY -->
              <div class="col-md-4">

                  <div class="card">
                    <img class="card-img-top img-fluid" src="https://placehold.it/350x180" alt="Alternatywny description obrazka">
                    <div class="card-body">
                      <h4 class="card-title">Najnowszy w kategorii</h4>
                      <h6 class="card-subtitle text-muted">Data dodania</h6>
                    </div>
                    <div class="card-footer">
                      <a href="#" class="card-link">Czytaj więcej</a>
                    </div>
                  </div>
                <!-- </div> -->
              </div>
              <div class="col-md-4">
                <!-- <div id="London" class="tabcontent"> -->
                  <div class="card">
                    <img class="card-img-top img-fluid" src="https://placehold.it/350x180" alt="Alternatywny description obrazka">
                    <div class="card-body">
                      <h4 class="card-title">Najnowszy w kategorii</h4>
                      <h6 class="card-subtitle text-muted">Data dodania</h6>
                    </div>
                    <div class="card-footer">
                      <a href="#" class="card-link">Czytaj więcej</a>
                    </div>
                  </div>
                <!-- </div> -->
              </div>
              <div class="col-md-4">
                <!-- <div id="Tokyo" class="tabcontent"> -->
                  <div class="card">
                    <img class="card-img-top img-fluid" src="https://placehold.it/350x180" alt="Alternatywny description obrazka">
                    <div class="card-body">
                      <h4 class="card-title">Najnowszy w kategorii</h4>
                      <h6 class="card-subtitle text-muted">Data dodania</h6>
                    </div>
                    <div class="card-footer">
                      <a href="#" class="card-link">Czytaj więcej</a>
                    </div>
                  </div>
                <!-- </div> -->
              </div>
            <!-- </div> -->
          </div>
      </div>

      <!-- PODKATEGORIE -->
      <div id="Subcategory" class="col-md-8 tabcontent">
        <div class="jumbotron row">
          <!-- <div class="container"> -->
          <!-- SZCZEGÓŁY -->
            <div class="col-md-4">

                <div class="card">
                  <img class="card-img-top img-fluid" src="https://placehold.it/350x180" alt="Alternatywny description obrazka">
                  <div class="card-body">
                    <h4 class="card-title">Najnowszy w podkategorii</h4>
                    <h6 class="card-subtitle text-muted">Data dodania</h6>
                  </div>
                  <div class="card-footer">
                    <a href="#" class="card-link">Czytaj więcej</a>
                  </div>
                </div>
              <!-- </div> -->
            </div>
            <div class="col-md-4">
              <!-- <div id="London" class="tabcontent"> -->
                <div class="card">
                  <img class="card-img-top img-fluid" src="https://placehold.it/350x180" alt="Alternatywny description obrazka">
                  <div class="card-body">
                    <h4 class="card-title">Najnowszy w podkategorii</h4>
                    <h6 class="card-subtitle text-muted">Data dodania</h6>
                  </div>
                  <div class="card-footer">
                    <a href="#" class="card-link">Czytaj więcej</a>
                  </div>
                </div>
              <!-- </div> -->
            </div>
            <div class="col-md-4">
              <!-- <div id="Tokyo" class="tabcontent"> -->
                <div class="card">
                  <img class="card-img-top img-fluid" src="https://placehold.it/350x180" alt="Alternatywny description obrazka">
                  <div class="card-body">
                    <h4 class="card-title">Najnowszy w podkategorii</h4>
                    <h6 class="card-subtitle text-muted">Data dodania</h6>
                  </div>
                  <div class="card-footer">
                    <a href="#" class="card-link">Czytaj więcej</a>
                  </div>
                </div>
              <!-- </div> -->
            </div>
          <!-- </div> -->
        </div>
    </div>
  </div>

    </div>


    <!-- Footer -->
<footer class="page-footer font-small text-white bg-dark">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
          <ul class="list-unstyled">
            <li>
              <a class="text-white" href="#!">Very long link 1</a>
            </li>
            <li>
              <a class="text-white" href="#!">Very long link 2</a>
            </li>
            <li>
              <a class="text-white" href="#!">Very long link 3</a>
            </li>
            <li>
              <a class="text-white" href="#!">Very long link 4</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
          <ul class="list-unstyled">
            <li>
              <a class="text-white" href="#!">Link 1</a>
            </li>
            <li>
              <a class="text-white" href="#!">Link 2</a>
            </li>
            <li>
              <a class="text-white" href="#!">Link 3</a>
            </li>
            <li>
              <a class="text-white" href="#!">Link 4</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a class="text-white" href="#!">Link 1</a>
            </li>
            <li>
              <a class="text-white" href="#!">Link 2</a>
            </li>
            <li>
              <a class="text-white" href="#!">Link 3</a>
            </li>
            <li>
              <a class="text-white" href="#!">Link 4</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">
            <li>
                <a class="text-white" href="#!">Link 1</a>
            </li>
            <li>
                <a class="text-white" href="#!">Link 2</a>
            </li>
            <li>
                <a class="text-white" href="#!">Link 3</a>
            </li>
            <li>
              <a class="text-white" href="#!">Link 4</a>
            </li>
          </ul>


        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-secondary">© 2018 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  </body>
</html>
<script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>
