<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="user-panel/user_layout :: template_header"></head>
<body id="page-top">
<nav th:replace="user-panel/user_layout :: navigation"></nav>
<div class="full-height pt-3" id="bg-borrow">

    <div class="card-header text-center">
        <h1 class="text-uppercase">Szczegóły produktu</h1>
        <h4 class="section-subheading text-muted">Szczegółowe informacje dotyczące przedmiotu do wypożyczenia...</h4>
    </div>

    <!--================Single Product Area =================-->
    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-6">
                    <div class="s_product_img">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                                    <img th:if="${photos.size() > 0 && photos.get(0) != null}"
                                         th:src="${photos.get(0)}" alt=""
                                         style="width: 60px; height: 60px;">
                                    <img th:if="${photos.size() == 0 || photos.get(0) == null}"
                                         src="../images/sample-products/no_image.png" alt=""
                                         style="width: 60px; height: 60px;">
                                </li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1">
                                    <img th:if="${photos.size() > 1 && photos.get(1) != null}"
                                         th:src="${photos.get(1)}" alt=""
                                         style="width: 60px; height: 60px;">
                                    <img th:if="${photos.size() <= 1 || photos.get(1) == null}"
                                         src="../images/sample-products/no_image.png" alt=""
                                         style="width: 60px; height: 60px;">
                                </li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2">
                                    <img th:if="${photos.size() > 2 && photos.get(2) != null}"
                                         th:src="${photos.get(2)}" alt=""
                                         style="width: 60px; height: 60px;">
                                    <img th:if="${photos.size() <= 2 || photos.get(2) == null}"
                                         src="../images/sample-products/no_image.png" alt=""
                                         style="width: 60px; height: 60px;">
                                </li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img th:if="${photos.size() > 0 && photos.get(0) != null}" class="d-block w-100 img-carousel" th:src="${photos.get(0)}" alt="First slide"
                                    >
                                    <img th:if="${photos.size() == 0 || photos.get(0)== null}" class="d-block w-100 img-carousel" src="../images/sample-products/no_image.png" alt="First slide"
                                    >
                                </div>
                                <div class="carousel-item">
                                    <img th:if="${photos.size() > 1 && photos.get(1) != null}" class="d-block w-100 img-carousel" th:src="${photos.get(1)}" alt="First slide"
                                    >
                                    <img th:if="${photos.size() <= 1 || photos.get(1)== null}" class="d-block w-100 img-carousel" src="../images/sample-products/no_image.png" alt="First slide"
                                    >
                                </div>
                                <div class="carousel-item">
                                    <img th:if="${photos.size() > 2 && photos.get(2) != null}" class="d-block w-100 img-carousel" th:src="${photos.get(2)}" alt="First slide"
                                    >
                                    <img th:if="${photos.size() <= 2 || photos.get(2)== null}" class="d-block w-100 img-carousel" src="../images/sample-products/no_image.png" alt="First slide"
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 short-description">
                    <div class="container">
                        <div class="s_product_text">
                            <h3 th:text="${item.getName()}"></h3>
                            <div class="d-flex justify-content-start">
                                <h2 th:text="${item.getPoints()}"></h2>
                                <h2 class="ml-1"> Borrow Coins</h2>
                            </div>
                            <div class="row">
                                <div class="col-9 row">
                                    <div class="col-3 mr-3">
                                        Kategoria:
                                    </div>
                                    <!-- TODO: adjust to the longer category name -->
                                    <div class="col-6 yellow-text">
                                        <div th:text="${item.getCategoryName()}"></div>
                                    </div>

                                    <div class="col-3 mr-3">
                                        Status:
                                    </div>
                                    <div th:class="col-8" th:switch="${item.getStatus()}">
                                        <div th:case="${T(com.lending.entities.RentingStatus).Zrealizowane}">
                                           <div class="yellow-text">
                                               Wypożyczony
                                           </div>
                                        </div>
                                        <div th:case="${T(com.lending.entities.RentingStatus).Utworzone}">Zamówiony</div>
                                        <div th:case="*">Dostępny</div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="card_area">
                                        <a id="addFavourites" class="icon_btn" href="#">
                                            <i class="lnr lnr lnr-heart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <p th:class="text-justify" th:text="${item.getDescription()}"></p>
                            <div class="product_count">

                            </div>
                            <div class="card_area pb-3">
                                <a th:if="${userCoins} >= ${item.getPoints()}" class="main_btn" href="wypozycz" th:href="@{wypozycz(item=${item.getId()})}">Wypożycz</a>
                                    <!-- todo uncomment line below when someone has no enough money -->
                                <a class="main_btn" th:if="${userCoins} < ${item.getPoints()}"
                                   data-toggle="modal" data-target="#notEnoughMoney">Wypożycz</a>
                                <a class="icon_btn pointer-cell" data-toggle="modal" data-target="#buyCoinsModal"
                                    style="background-color: #fed136;" th:if="${userCoins} < ${item.getPoints()}">
                                    <i id="buyCoins"
                                       class="fas fa-plus-circle" style="color: green; font-size: 18px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================End Single Product Area =================-->

    <!--================Product Description Area =================-->
    <section class="product_description_area">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="real-review-tab" data-toggle="tab" href="#real-review" role="tab" aria-controls="review" aria-selected="false">Opinie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Dane wypożyczającego</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Zarobki i koszty</a>
                </li>
            </ul>
            <div class="tab-content long-description" id="myTabContent">
                <div class="tab-pane fade show site-works" id="real-review" role="tabpanel" aria-labelledby="real-review-tab">
                    <!--<div class="in-work">-->
                        <!--<h2>-->
                            <!--Ta funkcjonalność zostanie dodana w następnej wersji aplikacji-->
                        <!--</h2>-->
                    <!--</div>-->
                    <div class="row mockup-option">
                        <div class="col-lg-6">
                            <div class="row total_rate">
                                <div class="col-6">
                                    <div class="box_total">
                                        <h5>Overall</h5>
                                        <h4>4.0</h4>
                                        <h6>(03 Reviews)</h6>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="rating_list">
                                        <h3>Based on 3 Reviews</h3>
                                        <ul class="list">
                                            <li>
                                                <a href="#">5 Star
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i> 01</a>
                                            </li>
                                            <li>
                                                <a href="#">4 Star
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i> 01</a>
                                            </li>
                                            <li>
                                                <a href="#">3 Star
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i> 01</a>
                                            </li>
                                            <li>
                                                <a href="#">2 Star
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i> 01</a>
                                            </li>
                                            <li>
                                                <a href="#">1 Star
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i> 01</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="review_list">
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="../images/single-product/review-1.png" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h4>Blake Ruiz</h4>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                </div>
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="../images/single-product/review-2.png" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h4>Blake Ruiz</h4>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                </div>
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="../images/single-product/review-3.png" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h4>Blake Ruiz</h4>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="review_box">
                                <h4>Add a Review</h4>
                                <p>Your Rating:</p>
                                <ul class="list">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                    </li>
                                </ul>
                                <p>Outstanding</p>
                                <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="name" name="name" placeholder="Your Full name">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="number" name="number" placeholder="Phone Number">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" name="message" id="message" rows="1" placeholder="Review"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <button type="submit" value="submit" class="btn submit_btn">Submit Now</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <!-- todo set data of user -->
                            <tr>
                                <td class="td-without-padding">
                                    <h5>Imię</h5>
                                </td>
                                <td class="td-without-padding">
                                    <h5 th:text="${borrowingUser.getFirstName()}"></h5>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-without-padding">
                                    <h5>Nazwisko</h5>
                                </td>
                                <td class="td-without-padding">
                                    <h5 th:text="${borrowingUser.getLastName()}"></h5>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-without-padding">
                                    <h5>Email</h5>
                                </td>
                                <td class="td-without-padding">
                                    <h5 th:text="${borrowingUser.getEmail()}"></h5>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-without-padding">
                                    <h5>Miejscowość</h5>
                                </td>
                                <td class="td-without-padding">
                                    <h5 th:text="${borrowingUser.getLocality()}"></h5>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="row total_rate pb-3">
                                <div class="col-md-10">
                                    <div class="box_total">
                                        <h5>Koszt BC*</h5>
                                        <h4 th:text="${item.getPoints()}"></h4>
                                        <h6>*Borrow Coins - kryptowaluta</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row total_rate">
                                <div class="col-md-10">
                                    <div class="box_total">
                                        <h5>Liczba wypożyczeń</h5>
                                        <h4 th:text="${item.getCountOfRenting()}"></h4>
                                        <h6>Popularny towar!</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="review_box">
                                <h4>Ostatnie wypożyczenia:</h4>
                            </div>
                            <div class="review_list">
                                <div class="review_item">
                                    <div class="tab-pane fade in active show" id="current" name="current" role="tabpanel">
                                        <div class="mb-3">
                                            <div>
                                                <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead class="thead-agency">
                                            <tr>
                                                <th>Lp.</th>
                                                <th>Data wypożyczenia</th>
                                                <th>Nazwa uzytkownika</th>
                                                <th>Data oddania</th>
                                            </tr>
                                            </thead>
                                            <tfoot class="thead-agency">
                                            <tr>
                                                <th>Lp.</th>
                                                <th>Data wypożyczenia</th>
                                                <th>Nazwa uzytkownika</th>
                                                <th>Data oddania</th>
                                            </tr>
                                            </tfoot>
                                            <tbody class="table-rows-body">
                                                <!--TODO: empty table string -->
                                                <tr th:each="historyRent,iter :${history}">
                                                    <td th:text="${iter.index}+1"></td>
                                                    <td th:text="${#dates.format(historyRent.getBorrowDate(), 'dd/MM/yyyy')}"></td>
                                                    <td th:text="${historyRent.getUser()}"></td>
                                                    <td th:text="${#dates.format(historyRent.getGiveBackDate(), 'dd/MM/yyyy')}"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Product Description Area =================-->

    <!--================ start footer Area  =================-->
    <footer class="footer-area section_gap">
        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-12 footer-text text-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </footer>
    <!--================ End footer Area  =================-->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Not Enough Money Modal-->
    <div class="modal fade" id="notEnoughMoney" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nie masz wystarczająco środków na koncie.</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 class="modal-title">Wybierz jedną z opcji.</h5>
                    <div class="row">
                        <div class="p-2 col-lg-6 pointer-cell" onclick="window.location='#';">
                            <div class="card text-white bg-warning o-hidden h-100">
                                <div class="card-body">
                                    <div class="card-body-icon">
                                        <i class="fas fa-fw fa-archive"></i>
                                    </div>
                                    <div class="mr-5">Wróć do przeglądania produktów</div>
                                </div>
                                <a class="card-footer text-white clearfix small z-1" href="#">
                                    <span class="float-left">Zobacz więcej</span>
                                    <span class="float-right">
                              <i class="fas fa-angle-right"></i>
                            </span>
                                </a>
                            </div>
                        </div>

                        <div class="p-2 col-lg-6 pointer-cell" onclick="window.location='#';">
                            <div class="card text-white bg-success o-hidden h-100">
                                <div class="card-body">
                                    <div class="card-body-icon">
                                        <i class="fas fa-fw fa-shopping-basket"></i>
                                    </div>
                                    <div class="mr-5">Dokup Borrow Coins</div>
                                </div>
                                <a class="card-footer text-white clearfix small z-1" href="#">
                                    <span class="float-left">Zobacz więcej</span>
                                    <span class="float-right">
                              <i class="fas fa-angle-right"></i>
                            </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Buy Coins Modal-->
    <div class="modal fade" id="buyCoinsModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Czy chcesz kupić dodatkowe Borrow Coins?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="site-works" style="height: 500px;">

                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chcesz opuscic strone?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Wybierz "Wyloguj" jeżeli chcesz zakonczyć sesje.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Anuluj</button>
                    <!-- logout from session -->
                    <a class="btn btn-primary" th:href="@{/logout}">Wyloguj</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Add to favourites toast -->
    <div class="toast" data-delay="1500">
        <div class="toast-header">
            <strong class="mr-auto yellow-text">Dodano do ulubionych</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
    </div>

</div>

<div class="d-flex justify-content-center coins-fixed-toast w-100">
    <div class="toast coins-toast" data-autohide="false">
        <div class="toast-header">
            <strong class="mr-auto text-primary">Stan konta: </strong>
            <span style="font-weight: bold;" th:text="${userCoins}"></span>
            <img class="coin-img ml-1" src="https://image.flaticon.com/icons/svg/217/217853.svg"/>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
  $('.coins-toast').toast('show');
});
</script>

<!-- Add to favourites script-->
<script>
$(document).ready(function(){
  $("#addFavourites").click(function(){
    $('.toast').toast('show');
  });
});
</script>

<!-- Bootstrap core JavaScript-->
<script src="../../user-panel/vendor/jquery/jquery.min.js"></script>
<script src="../../user-panel/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../../user-panel/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="../../user-panel/vendor/chart.js/Chart.min.js"></script>
<script src="../../user-panel/vendor/datatables/jquery.dataTables.js"></script>
<script src="../../user-panel/vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="../../user-panel/js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="../../user-panel/js/demo/datatables-demo.js"></script>
<script src="../../user-panel/js/demo/chart-area-demo.js"></script>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../user-panel/category/js/popper.js"></script>
<script src="../user-panel/category/js/stellar.js"></script>
<script src="../user-panel/category/js/simpleLightbox.min.js"></script>
<script src="../user-panel/category/js/jquery.nice-select.min.js"></script>
<script src="../user-panel/category/js/imagesloaded.pkgd.min.js"></script>
<script src="../user-panel/category/js/isotope-min.js"></script>
<script src="../user-panel/category/js/owl.carousel.min.js"></script>
<script src="../user-panel/category/js/jquery.ajaxchimp.min.js"></script>
<script src="../user-panel/category/js/mail-script.js"></script>
<script src="../user-panel/category/js/jquery-ui.js"></script>
<script src="../user-panel/category/js/jquery.waypoints.min.js"></script>
<script src="../user-panel/category/js/jquery.counterup.js"></script>
<script src="../user-panel/category/js/theme.js"></script>


</body>
</html>