<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="user-panel/user_layout :: template_header"></head>

<body id="page-top" class="sidebar-toggled">

<div class="full-height bg-panel">

    <nav th:replace="user-panel/user_layout :: navi"></nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav toggled">
            <li class="nav-item">
                <a class="nav-link" href="panel">
                    <i class="fas fa-fw fa-th-large"></i>
                    <span>Panel</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-user-edit"></i>
                    <span>Moje dane</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <h6 class="dropdown-header pl-3">Moje konto:</h6>
                    <a class="dropdown-item" href="edytuj-dane">Edytuj swoje dane</a>
                    <a class="dropdown-item" href="zmien-haslo">Zmień hasło</a>
                </div>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-archive"></i>
                    <span>Moje produkty</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <h6 class="dropdown-header pl-3">Moje produkty:</h6>
                    <a class="dropdown-item" href="moje-produkty">Pokaż produkty</a>
                    <a class="dropdown-item" href="dodaj-produkt">Dodaj produkt</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="wypozyczone-produkty">
                    <i class="fas fa-fw fa-shopping-basket"></i>
                    <span>Wypożyczone</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="moje-statystyki">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Statystyki</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="moje-punkty">
                    <i class="fas fa-fw fa-donate"></i>
                    <span>Moje punkty</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="powiadomienia">
                    <i class="fas fa-fw fa-bell"></i>
                    <span>Powiadomienia</span></a>
            </li>
        </ul>

        <div id="content-wrapper">
            <div class="card-header text-center">
                <h1 class="text-uppercase">Dodaj produkt</h1>
            </div>

            <!--================ Cart Area =================-->
            <section class="cart_area">
                <div class="container">
                    <div class="cart_inner">
                        <form class="form form-vertical" action="#" method="post" enctype="multipart/form-data" id="addProductForm">
                            <div class="row">
                                <div class="col-sm-4 text-center">
                                    <div class="form-group">
                                        <div class="file-loading">
                                            <img id="main_image" src="../images/placeholders/image-placeholder.jpg" class="img-fluid mb-1">
                                        </div>
                                        <div class="btn btn-mdb-color btn-rounded">
                                            <input id="uploadFile1" type="file" style="display:none;" onchange="onFileSelected(event)" accept="image/*" />
                                            <input type="button" value="Wybierz plik" onclick="document.getElementById('uploadFile1').click();" />
                                            <input type="hidden" id="uploadFileString1"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Nazwa produktu<span>*</span></label>
                                        <input type="text" class="form-control" name="name" required="required"
                                               data-validation-required-message="Proszę podać nazwę." id="addProductName">
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Kategoria<span>*</span></label>
                                                <select name="productCategory" class="form-control" id="addProductCategory">
                                                    <div th:each="cat:${categories}">
                                                        <optgroup th:label="${cat.getHigherLevelType().getName()}"
                                                                  th:value="${cat.getHigherLevelType().getId()}">
                                                        </optgroup>
                                                        <div th:each="sub1:${cat.getSubcategories()}">
                                                            <option th:if="${sub1.getSubcategories().size() == 0}"
                                                                    th:value="${sub1.getHigherLevelType().getId()}"
                                                                    th:label="${'---->' + sub1.getHigherLevelType().getName()}"
                                                            ></option>
                                                            <optgroup th:if="${sub1.getSubcategories().size() != 0}"
                                                                      th:value="${sub1.getHigherLevelType().getId()}"
                                                                      th:label="${'---->' + sub1.getHigherLevelType().getName()}"
                                                            ></optgroup>
                                                            <div th:each="sub2:${sub1.getSubcategories()}">
                                                                <option th:if="${sub2.getSubcategories().size() == 0}"
                                                                        th:value="${sub2.getHigherLevelType().getId()}"
                                                                        th:label="${'-------->' + sub2.getHigherLevelType().getName()}"
                                                                ></option>
                                                                <optgroup th:if="${sub2.getSubcategories().size() != 0}"
                                                                          th:value="${sub2.getHigherLevelType().getId()}"
                                                                          th:label="${'-------->' + sub2.getHigherLevelType().getName()}"
                                                                ></optgroup>
                                                                <div th:each="sub3:${sub2.getSubcategories()}">
                                                                    <option th:value="${sub3.getHigherLevelType().getId()}"
                                                                            th:label="${'------------>' + sub3.getHigherLevelType().getName()}"
                                                                    ></option>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Cena Borrow Coins<span>*</span></label>
                                                <input name="productCoins" type="number" class="form-control" required
                                                       data-validation-required-message="Proszę podać cenę produktu."
                                                       id="addProductCoins">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="addProductDescription">Opis produktu</label>
                                                <textarea class="form-control" id="addProductDescription"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Dodaj kolejne zdjęcia</label>
                                                <div class="custom-file mb-1">
                                                    <input type="file" class="custom-file-input" id="uploadFile2" accept="image/*" >
                                                    <label class="custom-file-label  text-truncate" for="uploadFile2"
                                                        id="uploadFileLabel2">Wybierz plik</label>
                                                    <input type="hidden" id="uploadFileString2"/>
                                                </div>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="uploadFile3" lang="pl-Pl" accept="image/*">
                                                    <label class="custom-file-label  text-truncate" for="uploadFile3"
                                                        id="uploadFileLabel3">Wybierz plik</label>
                                                    <input type="hidden" id="uploadFileString3"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <hr>
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-primary" id="addProductSubmit">Dodaj</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>


            <!-- Sticky Footer -->
            <footer th:replace="user-panel/user_layout :: foot"></footer>

        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chcesz opuścić stronę?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Wybierz "Wyloguj" jeżeli chcesz zakonczyć sesję.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Anuluj</button>
                <!-- logout from session -->
                <a class="btn btn-primary" th:href="@{/logout}">Wyloguj</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="../user-panel/vendor/jquery/jquery.min.js"></script>
<script src="../user-panel/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../user-panel/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="../user-panel/vendor/chart.js/Chart.min.js"></script>
<script src="../user-panel/vendor/datatables/jquery.dataTables.js"></script>
<script src="../user-panel/vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="../user-panel/js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="../user-panel/js/demo/datatables-demo.js"></script>
<script src="../user-panel/js/demo/chart-area-demo.js"></script>

<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
<script>
    function onFileSelected(event) {
  var selectedFile = event.target.files[0];
  var reader = new FileReader();

  var imgtag = document.getElementById("main_image");
  imgtag.title = selectedFile.name;

  reader.onload = function(event) {
    imgtag.src = event.target.result;
  };

  reader.readAsDataURL(selectedFile);
}
</script>

<!--Adding product-->
<script>
    $('document').ready(function() {
       $('#addProductForm #addProductSubmit').on('click', function(event) {
          event.preventDefault();
          var name = $('#addProductForm #addProductName').val();
          var category = $('#addProductForm #addProductCategory').val();
          var desc = $('#addProductForm #addProductDescription').val();
          var coins = $('#addProductForm #addProductCoins').val();
          var img1 = $('#uploadFileString1').val();
          var img2 = $('#uploadFileString2').val();
          var img3 = $('#uploadFileString3').val();
          var data = [];
          data.push(name);
          data.push(category);
          data.push(desc);
          data.push(coins);
          var images = [];
          images.push(img1);
          images.push(img2);
          images.push(img3);
          $.ajax({
              type: 'POST',
              url: '/moje-konto/dodaj-produkt/dodaj',
              data: {info: data, images: images},
              success: function (result) {//On Successful service call
                  console.log(result);
                  location.reload();
              }
          });
       });
    });
</script>

<script>
    // Add the following code if you want the name of the file appear on select
    $("#uploadFile1").on("change", function(event) {
        var f = event.target.files[0];
        var reader = new FileReader();
        reader.onload = (function (thefile) {
            return function(e) {
                var binD = e.target.result;
                var b64 = window.btoa(binD);
                document.getElementById('uploadFileString1').value = b64;
            };
        })(f);
        reader.readAsBinaryString(f);
    });
    $("#uploadFile2").on("change", function(event) {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings("#uploadFileLabel2").addClass("selected").html(fileName);
        var f = event.target.files[0];
        var reader = new FileReader();
        reader.onload = (function (thefile) {
            return function(e) {
                var binD = e.target.result;
                var b64 = window.btoa(binD);
                document.getElementById('uploadFileString2').value = b64;
            };
        })(f);
        reader.readAsBinaryString(f);
    });
    $("#uploadFile3").on("change", function(event) {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings("#uploadFileLabel3").addClass("selected").html(fileName);
        var f = event.target.files[0];
        var reader = new FileReader();
        reader.onload = (function (thefile) {
            return function(e) {
                var binD = e.target.result;
                var b64 = window.btoa(binD);
                document.getElementById('uploadFileString3').value = b64;
            };
        })(f);
        reader.readAsBinaryString(f);
    });
</script>

</body>

</html>
