<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="user-panel/user_layout :: template_header"></head>

<body id="page-top" class="sidebar-toggled">

<div class="full-height bg-panel">

<nav th:replace="user-panel/user_layout :: navi"></nav>

<div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav toggled">
        <li class="nav-item">
            <a class="nav-link" href="panel">
                <i class="fas fa-fw fa-th-large"></i>
                <span>Panel</span></a>
        </li>
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-user-edit"></i>
                <span>Moje dane</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <h6 class="dropdown-header pl-3">Moje konto:</h6>
                <a class="dropdown-item" href="edytuj-dane">Edytuj swoje dane</a>
                <a class="dropdown-item" href="zmien-haslo">Zmień hasło</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-archive"></i>
                <span>Moje produkty</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <h6 class="dropdown-header pl-3">Moje produkty:</h6>
                <a class="dropdown-item" href="moje-produkty">Pokaż produkty</a>
                <a class="dropdown-item" href="dodaj-produkt">Dodaj produkt</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="wypozyczone-produkty">
                <i class="fas fa-fw fa-shopping-basket"></i>
                <span>Wypożyczone</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="moje-statystyki">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Statystyki</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="moje-punkty">
                <i class="fas fa-fw fa-donate"></i>
                <span>Moje punkty</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="powiadomienia">
                <i class="fas fa-fw fa-bell"></i>
                <span>Powiadomienia</span></a>
        </li>
    </ul>

    <div id="content-wrapper">
        <div class="card-header text-center">
            <h1 class="text-uppercase">Zmiana hasła</h1>
        </div>

        <div class="container" id="edit-password">
            <div class="card card-login mx-auto mt-5">
                <div class="card-body text-center">
                    <div class="text-center mb-4">
                        <strong>Wpisz swoje stare hasło, a następnie podaj dwukrotnie nowe hasło.</strong>
                    </div>
                    <form method="post" th:object="${passwordInfo}">

                        <!-- todo passwords encryption -->
                        <div class="form-group">
                            <div class="form-label-group text-left">
                                <input type="password" id="old_password" class="form-control" placeholder="Wprowadź stare hasło"
                                       required="required" autofocus="autofocus" th:field="*{oldPassword}">
                                <label for="old_password">Wprowadź stare hasło</label>
                            </div>
                        </div>
                        <div class="form-group text-left">
                            <div class="form-label-group text-left">
                                <input type="password" id="new_password" class="form-control" placeholder="Wprowadź nowe hasło"
                                       required="required" autofocus="autofocus" th:field="*{newPassword}">
                                <label for="new_password">Wprowadź nowe hasło</label>
                            </div>
                            <!-- An element to toggle between password visibility -->
                            <input type="checkbox" onclick="showPassword()">
                                <span style="font-weight: bold;">Pokaż nowe hasło</span>
                            <div id="pswd_info">
                                <h4 class="text-center">Hasło musi posiadać następujące cechy:</h4>
                                <ul class="text-left" style="color: black;">
                                    <li id="letter" class="invalid">Co najmniej <strong>jedną literę</strong></li>
                                    <li id="capital" class="invalid">Co najmniej <strong>jedną wielką literę</strong></li>
                                    <li id="number" class="invalid">Co najmniej <strong>jedną cyfrę</strong></li>
                                    <li id="length" class="invalid">Co najmniej <strong>8 znaków</strong></li>
                                    <li id="old" class="valid">Być inne od <strong>starego hasła</strong></li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group text-left">
                                <input type="password" id="rep_new_password" class="form-control" placeholder="Powtórz nowe hasło"
                                       required="required" autofocus="autofocus" th:field="*{repeatNewPassword}">
                                <label for="rep_new_password">Powtórz nowe hasło</label>
                                <span class="alert alert-danger" id="message" style="display: none;
                                        padding: 0.25rem 0.55rem;">

                                </span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2" id="changePassword">Zmień hasło</button>
                    </form>
                </div>
            </div>
        </div>

        <footer th:replace="user-panel/user_layout :: foot"></footer>
    </div>
    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chcesz opuścić stronę?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Wybierz "Wyloguj" jeżeli chcesz zakonczyć sesję.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Anuluj</button>
                <!-- logout from session -->
                <a class="btn btn-primary" th:href="@{/logout}">Wyloguj</a>
            </div>
        </div>
    </div>
</div>

<!-- Save data toast -->
<div class="toast" data-delay="1500">
    <div class="toast-header">
        <strong class="mr-auto yellow-text">Poprawnie zmieniono hasło.</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
    </div>
</div>

<!-- Save data script-->
<script>
$(document).ready(function(){
  $("#changePassword").click(function(){
    $('.toast').toast('show');
  });
});
</script>

<script>
    $('#rep_new_password').on('keyup', function () {
      if ($('#new_password').val().length > 0 && $('#rep_new_password').val().length > 0){
          if ($('#new_password').val() == $('#rep_new_password').val()) {
            $('#message').html('Nowe hasła do siebie pasują').css('display', 'block').
                css('background-color', 'lime').css('color', 'black');
          }
          else
            $('#message').html('Nowe hasła są różne').css('display', 'block')
                .css('background-color', '#f8d7da');
      } else
            $('#message').html('Nie podano poprawnego hasła').css('display', 'block')
                .css('background-color', '#f8d7da');
    });
</script>
<script>
    $('#new_password').keyup(function() {
        // keyup code here

        // set password variable
        var pswd = $(this).val();

        //validate the length
        if ( pswd.length < 8 ) {
            $('#length').removeClass('valid').addClass('invalid');
        } else {
            $('#length').removeClass('invalid').addClass('valid');
        }

        //validate letter
        if ( pswd.match(/[A-z]/) ) {
            $('#letter').removeClass('invalid').addClass('valid');
        } else {
            $('#letter').removeClass('valid').addClass('invalid');
        }

        //validate capital letter
        if ( pswd.match(/[A-Z]/) ) {
            $('#capital').removeClass('invalid').addClass('valid');
        } else {
            $('#capital').removeClass('valid').addClass('invalid');
        }

        //validate number
        if ( pswd.match(/\d/) ) {
            $('#number').removeClass('invalid').addClass('valid');
        } else {
            $('#number').removeClass('valid').addClass('invalid');
        }

        //validate old and new
        if (pswd != $('#old_password').val()) {
            $('#old').removeClass('invalid').addClass('valid');
        } else {
            $('#old').removeClass('valid').addClass('invalid');
        }

    }).focus(function() {
        $('#pswd_info').show();
    }).blur(function() {
        $('#pswd_info').hide();
    });
</script>
<script>
        function showPassword() {
          var x = document.getElementById("new_password");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
</script>
<!-- Bootstrap core JavaScript-->
<script src="../user-panel/vendor/jquery/jquery.min.js"></script>
<script src="../user-panel/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../user-panel/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="../user-panel/vendor/chart.js/Chart.min.js"></script>
<script src="../user-panel/vendor/datatables/jquery.dataTables.js"></script>
<script src="../user-panel/vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="../user-panel/js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="../user-panel/js/demo/datatables-demo.js"></script>
<script src="../user-panel/js/demo/chart-area-demo.js"></script>

</body>

</html>
