<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="user-panel/user_layout :: template_header"></head>

<body id="page-top" class="sidebar-toggled">
<div class="full-height bg-panel">
<nav th:replace="user-panel/user_layout :: navi"></nav>

<div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav toggled">
        <li class="nav-item">
            <a class="nav-link" href="panel">
                <i class="fas fa-fw fa-th-large"></i>
                <span>Panel</span></a>
        </li>
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-user-edit"></i>
                <span>Moje dane</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <h6 class="dropdown-header pl-3">Moje konto:</h6>
                <a class="dropdown-item" href="edytuj-dane">Edytuj swoje dane</a>
                <a class="dropdown-item" href="zmien-haslo">Zmien haslo</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-archive"></i>
                <span>Moje produkty</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <h6 class="dropdown-header pl-3">Moje produkty:</h6>
                <a class="dropdown-item" href="moje-produkty">Pokaz produkty</a>
                <a class="dropdown-item" href="dodaj-produkt">Dodaj produkt</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="wypozyczone-produkty">
                <i class="fas fa-fw fa-shopping-basket"></i>
                <span>Wypożyczone</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="moje-statystyki">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Statystyki</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="moje-punkty">
                <i class="fas fa-fw fa-donate"></i>
                <span>Moje punkty</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="powiadomienia">
                <i class="fas fa-fw fa-bell"></i>
                <span>Powiadomienia</span></a>
        </li>
    </ul>

    <div id="content-wrapper">
        <div class="card-header text-center">
            <h1 class="text-uppercase">Edycja danych</h1>
        </div>

        <div class="container" id="edit_data">
        <div class="card cardRegistry text-center">
            <div class="card-body text-center">
                <form method="post">
                    <div class="row">
                        <div class="col-sm-6 form-group text-left">
                            <input name="firstName" type="text" class="form-control" required
                                   th:value="${user.getFirstName()}">
                            <label class="custom-file-label  text-truncate">Imię</label>
                        </div>
                        <div class="col-sm-6 flex-fill form-group text-left">
                            <input name="lastName" type="text" class="form-control" required
                                   th:value="${user.getLastName()}">
                            <label class="custom-file-label  text-truncate">Nazwisko</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group text-left">
                            <input name="email" type="email" class="form-control" required
                                   th:value="${user.getEmail()}" disabled>
                            <label class="custom-file-label  text-truncate">Adres email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group text-left">
                            <input name="birthDate" type="date" class="form-control" required
                                   th:value="*{#dates.format(user.getBirthDate(), 'dd/MM/yyyy')}">
                            <label class="custom-file-label  text-truncate">Data urodzenia</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group text-left">
                            <input name="zipCode" type="text" class="form-control" required
                                   th:value="${user.getZipCode()}">
                            <label class="custom-file-label  text-truncate">Kod pocztowy</label>
                        </div>
                        <div class="col-sm-6 form-group text-left">
                            <input name="city" type="text" class="form-control" required
                                   th:value="${user.getLocality()}">
                            <label class="custom-file-label  text-truncate">Miejscowość</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group text-left">
                            <input name="street" type="text" class="form-control" required
                                   th:value="${user.getStreet()}">
                            <label class="custom-file-label  text-truncate">Ulica</label>
                        </div>
                        <div class="col-sm-3 form-group text-left">
                            <input name="homeNr" type="text" class="form-control" required
                                   th:value="${user.getNrHouse()}">
                            <label class="custom-file-label  text-truncate">Nr</label>
                        </div>
                        <div class="col-sm-3 form-group text-left">
                            <input name="flatNr" type="text" class="form-control" required
                                   th:value="${user.getNrFlat()}">
                            <label class="custom-file-label  text-truncate">Lokal</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-raised btn-primary mb-1">Zapisz dane</button>
                </form>
            </div>
        </div>
        </div>
    </div>
        <footer th:replace="user-panel/user_layout :: foot"></footer>
    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chcesz opuścić stronę?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Wybierz "Wyloguj" jeżeli chcesz zakonczyć sesję.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Anuluj</button>
                <a class="btn btn-primary" href="/">Wyloguj</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="../user-panel/vendor/jquery/jquery.min.js"></script>
<script src="../user-panel/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../user-panel/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="../user-panel/vendor/chart.js/Chart.min.js"></script>
<script src="../user-panel/vendor/datatables/jquery.dataTables.js"></script>
<script src="../user-panel/vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="../user-panel/js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="../user-panel/js/demo/datatables-demo.js"></script>
<script src="../user-panel/js/demo/chart-area-demo.js"></script>

</body>

</html>
