<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org/">
  <head>
    <title>Borrow Me!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="Description" content="Pożyczaj przedmioty ludziom">
    <link rel="stylesheet" href="../css/master.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $(".moje-towary-pod").hide();
        $(".wypozyczone-towary-pod").hide();
        $(".moje-towary").click(function(){
          $(".moje-towary-pod").slideToggle();
        });
        $(".wypozyczone-towary").click(function(){
          $(".wypozyczone-towary-pod").slideToggle();
        });
      });
    </script>
      <script>
          jQuery(document).ready(function($) {
                $(".clickable-title").click(function() {
                    window.location = $(this).data("href");
                });
            });
      </script>
      <script>
          <!--$(document).ready(function(){-->
              <!--$("#btn-append-photo").click(function(){-->
                <!--$("#photos-1").append("<br>");-->
                <!--$("#photos-1").append($( "#photos-1" ) );-->
              <!--});-->
            <!--});-->
            $(document).ready(function(){
                  $('#screens-duplicate-button').click(function () {
                    $('.screens-duplicate:first').clone().appendTo('.another');
                  });
                  $('#screens-remove-button').click(function () {
                    $('.screens-duplicate:first').detach();
                  });
                });
      </script>
  </head>
  <body>
  <!-- NAVBAR -->
  <nav th:replace="user-panel/user_layout :: navigation"></nav><br><br><br>

    <div class="container bg-light">
      <h1 class="text-center">PANEL UŻYTKOWNIKA</h1>

      <div class="row">
        <div class="col-md-4">
          <!-- Kategorie -->
          <div class="col-md-12 bg-dark">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active moje-towary" href="#">
                  <div class="d-flex align-items-center">
                    <div class="p-1">
                      <button class="tablinks btn text-light font-weight-bold" onclick="openCity(event, 'showProducts')" id="defaultOpen">
                        Moje towary
                      </button>
                    </div>
                    <div class="ml-auto text-light">
                      <i class='fas fa-angle-down'></i>
                    </div>
                  </div>
                </a>
                  <div class="moje-towary-pod">
                      <ul class="nav flex-column">
                          <li class="nav-item">
                              <a class="nav-link active text-light" href="#">
                                  <button class="tablinks btn text-light" onclick="openCity(event, 'showProducts')">
                                      Pokaż produkty
                                  </button>
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link active text-light" href="#">
                                  <button class="tablinks btn text-light" onclick="openCity(event, 'toBorrow')">
                                      Dodaj do wypożyczenia
                                  </button>
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link active text-light" href="#">
                                  <button class="tablinks btn text-light" onclick="openCity(event, 'deleteProduct')">
                                      Usuń produkt
                                  </button>
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link active text-light" href="#">
                                  <button class="tablinks btn text-light" onclick="openCity(event, 'editProducts')">
                                      Edytuj produkty
                                  </button>
                              </a>
                          </li>
                      </ul>
                  </div>

              </li>
              <li class="nav-item">
                <a class="nav-link wypozyczone-towary" href="#">
                  <div class="d-flex align-items-center">
                    <div class="p-1">
                      <button class="tablinks btn text-light font-weight-bold" onclick="openCity(event, 'showBorrowProducts')">
                        Wypożyczone towary
                      </button>
                    </div>
                    <div class="ml-auto text-light">
                      <i class='fas fa-angle-down'></i>
                    </div>
                  </div>
                </a>
                  <div class="wypozyczone-towary-pod">
                      <ul class="nav flex-column">
                          <li class="nav-item">
                              <a class="nav-link active text-light" href="#">
                                  <button class="tablinks btn text-light" onclick="openCity(event, 'showBorrowProducts')">
                                      Pokaż produkty
                                  </button>
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link active text-light" href="#">
                                  <button class="tablinks btn text-light" onclick="openCity(event, 'giveBackProduct')">
                                      Oddaj produkt
                                  </button>
                              </a>
                          </li>
                      </ul>
                  </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <div class="d-flex align-items-center">
                    <div class="p-1">
                      <button class="tablinks btn text-light font-weight-bold" onclick="openCity(event, 'myPoints')">
                        Moje points
                      </button>
                    </div>
                    <!-- <div class="ml-auto text-light">
                      <i class='fas fa-angle-down'></i>
                    </div> -->
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-8 jumbotron">
            <!-- SZCZEGÓŁY -->
            <div id="showProducts" class="tabcontent">
              <h3>Moje produkty:</h3>
                <div class="card text-center">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Obecne produkty</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Archiwum produktów</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <table class="table table-striped table-dark">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nazwa produktu</th>
                                        <th>Kategoria</th>
                                        <th>Data dodania</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td class="clickable-title" data-href='#'>Symfonia C++</td>
                                        <td>Książki</td>
                                        <td>26.03.2019</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td class="clickable-title" data-href='#'>Symfonia C++</td>
                                        <td>Książki</td>
                                        <td>26.03.2019</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td class="clickable-title" data-href='#'>Symfonia C++</td>
                                        <td>Książki</td>
                                        <td>26.03.2019</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <table class="table table-striped table-dark">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nazwa produktu</th>
                                        <th>Kategoria</th>
                                        <th>Data dodania</th>
                                        <th>Data usunięcia</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td class="clickable-title" data-href='#'>Symfonia C++</td>
                                        <td>Książki</td>
                                        <td>26.03.2019</td>
                                        <td>26.03.2019</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td class="clickable-title" data-href='#'>Symfonia C++</td>
                                        <td>Książki</td>
                                        <td>26.03.2019</td>
                                        <td>26.03.2019</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Symfonia C++</td>
                                        <td class="clickable-title" data-href='#'>Książki</td>
                                        <td>26.03.2019</td>
                                        <td>26.03.2019</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div id="toBorrow" class="tabcontent">
              <h3>Dodaj do wypożyczenia</h3>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nazwaProduktu">Nazwa produktu</label>
                            <input type="email" class="form-control" id="nazwaProduktu" placeholder="Nazwa produktu">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="kategoriaProduktu">Kategoria</label>
                            <select id="kategoriaProduktu" class="form-control">
                                <option selected>Wybierz...</option>
                                <option>...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="kolorProduktu">Kolor</label>
                            <input type="text" class="form-control" id="kolorProduktu" placeholder="Podaj color produktu">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="wagaProduktu">Waga</label>
                            <input type="number" class="form-control" id="wagaProduktu" placeholder="Podaj wagę produktu">
                        </div>
                    </div>
                    <label for="inputGroupFile04">Zdjęcia produktu</label>
                    <div class="screens-duplicate">
                        <div class="input-group form-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile04">
                                <label class="custom-file-label" for="inputGroupFile04">Wybierz plik</label>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">WYŚLIJ</button>
                            </div>
                        </div>
                    </div>
                    <div class="another">
                        <!-- here comes the cloned divs !-->
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            <button id="screens-duplicate-button" class="btn btn-primary">
                                <i class="fa fa-plus-circle"></i>
                            </button>
                        </div>
                        <div class="col-sm-1">
                            <button id="screens-remove-button" class="btn btn-primary">
                                <i class="fa fa-minus-circle"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="opisProduktu">Opis produktu</label>
                        <textarea class="form-control" rows="5" id="opisProduktu" placeholder="Napisz kilka słów o produkcie"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Wyślij</button>
                </form>
            </div>

            <div id="deleteProduct" class="tabcontent">
              <h3>Usuń produkt</h3>
                <table class="table table-striped table-dark">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nazwa produktu</th>
                        <th>Kategoria</th>
                        <th>Data dodania</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td class="clickable-title" data-href='#'>Symfonia C++</td>
                        <td>Książki</td>
                        <td>26.03.2019</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td class="clickable-title" data-href='#'>Symfonia C++</td>
                        <td>Książki</td>
                        <td>26.03.2019</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td class="clickable-title" data-href='#'>Symfonia C++</td>
                        <td>Książki</td>
                        <td>26.03.2019</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="editProducts" class="tabcontent">
              <h3>Zmodyfikuj produkt</h3>
                <table class="table table-striped table-dark">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nazwa produktu</th>
                        <th>Kategoria</th>
                        <th>Data dodania</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td class="clickable-title" data-href='#'>Symfonia C++</td>
                        <td>Książki</td>
                        <td>26.03.2019</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td class="clickable-title" data-href='#'>Symfonia C++</td>
                        <td>Książki</td>
                        <td>26.03.2019</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td class="clickable-title" data-href='#'>Symfonia C++</td>
                        <td>Książki</td>
                        <td>26.03.2019</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="showBorrowProducts" class="tabcontent">
              <h3>Pokaż wypożyczone produkty</h3>
                <div class="card text-center">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab2" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#home2" role="tab" aria-controls="home" aria-selected="true">Obecnie wypożyczone</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile" aria-selected="false">Historia wypożyczeń</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent2">
                            <div class="tab-pane fade show active" id="home2" role="tabpanel" aria-labelledby="home-tab2">
                                <table class="table table-striped table-dark">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nazwa produktu</th>
                                        <th>Kategoria</th>
                                        <th>Data dodania</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td class="clickable-title" data-href='#'>Symfonia C++</td>
                                        <td>Książki</td>
                                        <td>26.03.2019</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td class="clickable-title" data-href='#'>Symfonia C++</td>
                                        <td>Książki</td>
                                        <td>26.03.2019</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td class="clickable-title" data-href='#'>Symfonia C++</td>
                                        <td>Książki</td>
                                        <td>26.03.2019</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile-tab2">
                                <table class="table table-striped table-dark">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nazwa produktu</th>
                                        <th>Kategoria</th>
                                        <th>Data dodania</th>
                                        <th>Data usunięcia</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td class="clickable-title" data-href='#'>Symfonia C++</td>
                                        <td>Książki</td>
                                        <td>26.03.2019</td>
                                        <td>26.03.2019</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td class="clickable-title" data-href='#'>Symfonia C++</td>
                                        <td>Książki</td>
                                        <td>26.03.2019</td>
                                        <td>26.03.2019</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Symfonia C++</td>
                                        <td class="clickable-title" data-href='#'>Książki</td>
                                        <td>26.03.2019</td>
                                        <td>26.03.2019</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="giveBackProduct" class="tabcontent">
              <h3>Oddaj produkt</h3>
                <table class="table table-striped table-dark">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nazwa produktu</th>
                        <th>Kategoria</th>
                        <th>Data dodania</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td class="clickable-title" data-href='#'>Symfonia C++</td>
                        <td>Książki</td>
                        <td>26.03.2019</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td class="clickable-title" data-href='#'>Symfonia C++</td>
                        <td>Książki</td>
                        <td>26.03.2019</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td class="clickable-title" data-href='#'>Symfonia C++</td>
                        <td>Książki</td>
                        <td>26.03.2019</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="myPoints" class="tabcontent">
              <h3>Moje points</h3>
              <p>Miliony monet</p>
            </div>
        </div>
      </div>

    </div>

  </body>
</html>
<script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>
