<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="user-panel/user_layout :: template_header"></head>

<body id="page-top" class="sidebar-toggled">

<div class="full-height bg-panel">

    <nav th:replace="user-panel/user_layout :: navi"></nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav toggled">
            <li class="nav-item">
                <a class="nav-link" href="panel">
                    <i class="fas fa-fw fa-th-large"></i>
                    <span>Panel</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-user-edit"></i>
                    <span>Moje dane</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <h6 class="dropdown-header pl-3">Moje konto:</h6>
                    <a class="dropdown-item" href="edytuj-dane">Edytuj swoje dane</a>
                    <a class="dropdown-item" href="zmien-haslo">Zmień hasło</a>
                </div>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-archive"></i>
                    <span>Moje produkty</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <h6 class="dropdown-header pl-3">Moje produkty:</h6>
                    <a class="dropdown-item" href="moje-produkty">Pokaż produkty</a>
                    <a class="dropdown-item" href="dodaj-produkt">Dodaj produkt</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="wypozyczone-produkty">
                    <i class="fas fa-fw fa-shopping-basket"></i>
                    <span>Wypożyczone</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="moje-statystyki">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Statystyki</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="moje-punkty">
                    <i class="fas fa-fw fa-donate"></i>
                    <span>Moje punkty</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="powiadomienia">
                    <i class="fas fa-fw fa-bell"></i>
                    <span>Powiadomienia</span></a>
            </li>
        </ul>

        <div id="content-wrapper">
            <div class="card-header text-center">
                <h1 class="text-uppercase">Moje produkty</h1>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs text-left" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link pl-2 active show" data-toggle="tab" href="#current" role="tab" aria-selected="true">Obecne produkty</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-2" data-toggle="tab" href="#past" role="tab">Archiwum</a>
                    </li>
                </ul>
            </div>

            <!-- Tab panes {Fade}  -->
            <div class="tab-content">
                <div class="tab-pane fade in active show" id="current" name="current" role="tabpanel">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="table-responsive">
                                <div class="mb-2">
                                    <a onclick="deleteSeletedProducts()" class="btn btn-danger" 
                                        style="cursor:pointer;">
                                        <i class="fas fa-trash-alt"></i>
                                        <span>Usuń zaznaczone</span>
                                    </a>
                                </div>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead class="thead-agency">
                                    <tr >
                                        <th class="text-center">
                                            <span class="custom-checkbox">
                                                <input type="checkbox" id="selectAllUp">
                                                <label for="selectAllUp"></label>
                                            </span>
                                        </th>
                                        <th>Nazwa Produktu</th>
                                        <th>Kategoria</th>
                                        <th>Data Dodania</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Do Wypożyczenia</th>
                                        <th class="text-center"></th>
                                    </tr>
                                    </thead>
                                    <tfoot class="thead-agency">
                                    <tr data-href="">
                                        <th class="text-center">
                                            <span class="custom-checkbox">
                                                <input type="checkbox" id="selectAllDown">
                                                <label for="selectAllUp"></label>
                                            </span>
                                        </th>
                                        <th>Nazwa Produktu</th>
                                        <th>Kategoria</th>
                                        <th>Data Dodania</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Do Wypożyczenia</th>
                                        <th class="text-center"></th>
                                    </tr>
                                    </tfoot>
                                    <tbody class="table-rows-body">
                                    <tr class="pointer-row" th:each="product:${ProductsList}">
                                        <td class="text-center">
                                            <span class="custom-checkbox">
                                                <input type="checkbox" id="checkbox1" name="product" th:value="${product.getId()}">
                                                <label for="checkbox1"></label>
                                            </span>
                                        </td>
                                        <td th:text="${product.getProductName()}" th:class="pointer-cell"
                                        th:onclick="|window.location.href='/moje-konto/info-produktu?item=${product.getId()}'|"></td>
                                        <td th:text="${product.getCategoryName()}" th:class="pointer-cell"
                                            th:onclick="|window.location.href='/moje-konto/info-produktu?item=${product.getId()}'|"></td>
                                        <td th:text="${#dates.format(product.getAddDate(), 'dd/MM/yyyy')}" th:class="pointer-cell"
                                            th:onclick="|window.location.href='/moje-konto/info-produktu?item=${product.getId()}'|"></td>
                                        <td class="text-center" th:switch="${product.getStatus()}" th:class="pointer-cell"
                                            th:onclick="|window.location.href='/moje-konto/info-produktu?item=${product.getId()}'|">
                                            <div th:case="${T(com.lending.entities.RentingStatus).Zrealizowane}">Wypożyczony</div>
                                            <div th:case="${T(com.lending.entities.RentingStatus).Utworzone}">Zamówiony</div>
                                            <div th:case="*">-</div>
                                        </td>
                                        <td class="text-center">
                                            <span class="custom-checkbox">
                                                <input type="checkbox" id="checkbox30" name="options[]" value="1"
                                                    th:checked="${product.isCanBeBorrowed()}">
                                                <label for="checkbox1"></label>
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <!-- todo checkBorrowModal show only when status is Zamowiony or Wypozyczony -->
                                            <!-- todo handle check modal (db)-->
                                            <a href="#checkBorrowModal" class="edit" data-toggle="modal">
                                                <i class="fas fa-check"></i>
                                            </a>
                                            <a class="edit" data-toggle="modal"
                                               th:href="@{/moje-konto/info-produktu/edycja-produktu/(id=${product.getId()})}" id="editButton">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a class="edit" style="cursor: pointer"
                                               th:attr="onclick='deleteSingleProduct('+${product.getId()}+')'">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="past" role="tabpanel">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                                    <thead class="thead-agency">
                                    <tr>
                                        <th>Lp.</th>
                                        <th>Nazwa Produktu</th>
                                        <th>Kategoria</th>
                                        <th>Data Dodania</th>
                                        <th>Czy wypozyczony</th>
                                    </tr>
                                    </thead>
                                    <tfoot class="thead-agency">
                                    <tr>
                                        <th>Lp.</th>
                                        <th>Nazwa Produktu</th>
                                        <th>Kategoria</th>
                                        <th>Data Dodania</th>
                                        <th>Czy wypozyczony</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    <tr th:each="archiveProduct,iter :${ArchiveProductsList}">
                                        <td th:text="${iter.index}+1"></td>
                                        <a href="/moje-konto/product-details">
                                            <td th:text="${archiveProduct.getProductName()}"></td>
                                        </a>
                                        <td th:text="${archiveProduct.getCategoryName()}"></td>
                                        <td th:text="${#dates.format(archiveProduct.getAddDate(), 'dd-MM-yyyy')}"></td>
                                        <td>-</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

        <footer th:replace="user-panel/user_layout :: foot"></footer>

    </div>
    <!-- /.content-wrapper -->

    </div>
<!-- /#wrapper -->
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Delete Product Modal-->
<div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Czy na pewno chcesz usunąć produkt?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Wybierz "Potwierdź" jeżeli chcesz usunąć produkt.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Anuluj</button>
                <button class="btn btn-primary"  type="button" id="confirm-delete-item" data-dismiss="modal">Potwierdź</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Selected Product Modal-->
<div class="modal fade" id="deleteSelectedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Czy na pewno chcesz usunąć zaznaczone produkty?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Wybierz "Potwierdź" jeżeli chcesz usunąć zaznaczone.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Anuluj</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal" id="confirm-selection-delete">Potwierdź</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Product Modal-->
<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chcesz edytować produkt?</h5>
                <input type="hidden" id="editProductId" />
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="post" action="/moje-konto">
                <div class="modal-body">
                    <!--<div class="d-md-flex">-->
                        <!--<div class="pr-md-2 flex-fill form-group text-left">-->
                            <!--<input name="productName" type="text" class="form-control" required placeholder="Nazwa"-->
                                   <!--id="editProductName">-->
                        <!--</div>-->
                        <!--<div class="pl-md-2 flex-fill form-group text-left">-->
                            <!--<input name="productCoins" type="text" class="form-control" required placeholder="Cena Borrow Coins"-->
                                   <!--id="editProductPoints">-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group text-left">
                        <label>Nazwa przedmiotu:</label>
                        <input name="productName" type="text" class="form-control" required placeholder="Nazwa"
                               id="editProductName">
                    </div>
                    <div class="form-group text-left">
                        <label>Kategoria:</label>
                        <select name="productCategory" class="form-control" id="editProductCategory">
                            <div th:each="cat:${categories}">
                                <optgroup th:label="${cat.getHigherLevelType().getName()}"
                                          th:value="${cat.getHigherLevelType().getName()}">
                                </optgroup>
                                <div th:each="sub1:${cat.getSubcategories()}">
                                    <option th:if="${sub1.getSubcategories().size() == 0}"
                                            th:value="${sub1.getHigherLevelType().getName()}"
                                            th:label="${'---->' + sub1.getHigherLevelType().getName()}"
                                            ></option>
                                    <optgroup th:if="${sub1.getSubcategories().size() != 0}"
                                              th:value="${sub1.getHigherLevelType().getName()}"
                                              th:label="${'---->' + sub1.getHigherLevelType().getName()}"
                                              ></optgroup>
                                    <div th:each="sub2:${sub1.getSubcategories()}">
                                        <option th:if="${sub2.getSubcategories().size() == 0}"
                                                th:value="${sub2.getHigherLevelType().getName()}"
                                                th:label="${'-------->' + sub2.getHigherLevelType().getName()}"
                                                ></option>
                                        <optgroup th:if="${sub2.getSubcategories().size() != 0}"
                                                  th:value="${sub2.getHigherLevelType().getName()}"
                                                  th:label="${'-------->' + sub2.getHigherLevelType().getName()}"
                                                  ></optgroup>
                                        <div th:each="sub3:${sub2.getSubcategories()}">
                                            <option th:value="${sub3.getHigherLevelType().getName()}"
                                                    th:label="${'------------>' + sub3.getHigherLevelType().getName()}"
                                                    ></option>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </select>
                    </div>
                    <div class="form-group text-left">
                        <label>Cena Borrow Coins:</label>
                        <input name="productCoins" type="text" class="form-control" required placeholder="Cena Borrow Coins"
                               id="editProductPoints">
                    </div>
                    <div class="form-group text-left">
                        <label>Opis:</label>
                        <textarea class="form-control" id="editProductDescroption" placeholder="Opis"></textarea>
                    </div>
                    <div class="form-group" id="editProductDeletePhotos">
                        <label>Usuń wybrane zdjęcie:</label>
                        <div class="row">
                            <div class="col-md-4 text-center mb-5" id="editProductDeletePhoto1">
                                    <span class="custom-checkbox">
                                                <input type="checkbox" name="options[]" value="1">
                                                <label for="checkbox1"></label>
                                    </span>
                                <img class="img-gallery" src="../images/sample-products/talisman.png" alt="">
                            </div>
                            <div class="col-md-4 text-center mb-5" id="editProductDeletePhoto2">
                                    <span class="custom-checkbox">
                                                <input type="checkbox" name="options[]" value="1">
                                                <label for="checkbox1"></label>
                                    </span>
                                <img class="img-gallery" src="../images/sample-products/talisman.png" alt="">
                            </div>
                            <div class="col-md-4 text-center mb-5" id="editProductDeletePhoto3">
                                    <span class="custom-checkbox">
                                                <input type="checkbox" name="options[]" value="1">
                                                <label for="checkbox1"></label>
                                    </span>
                                <img class="img-gallery" src="../images/sample-products/talisman.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="editProductAddPhotos">
                        <label>Dodaj zdjęcia:</label>
                        <div class="custom-file mb-1" id="editProductAddPhoto1">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label  text-truncate" for="customFile">Wybierz plik</label>
                        </div>
                        <div class="custom-file mb-1" id="editProductAddPhoto2">
                            <input type="file" class="custom-file-input" id="customFile2" lang="pl-Pl">
                            <label class="custom-file-label  text-truncate" for="customFile2">Wybierz plik</label>
                        </div>
                        <div class="custom-file" id="editProductAddPhoto3">
                            <input type="file" class="custom-file-input" id="customFile3" lang="pl-Pl">
                            <label class="custom-file-label  text-truncate" for="customFile3">Wybierz plik</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-raised btn-primary mb-1"
                            id="editProductSave">Zapisz dane</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chcesz opuścić stronę?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Wybierz "Wyloguj" jeżeli chcesz zakonczyć sesję.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Anuluj</button>
                <!-- logout from session -->
                <a class="btn btn-primary" th:href="@{/logout}">Wyloguj</a>
            </div>
        </div>
    </div>
</div>

<!-- Check Borrow Modal-->
<div class="modal fade" id="checkBorrowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- todo if status is Zamowiony -->
                <h5 class="modal-title">Chcesz potwierdzić wypożyczenie produktu?</h5>
                <!-- todo if status is Wypozyczony -->
                <!--<h5 class="modal-title">Chcesz potwierdzić oddanie produktu?</h5>-->
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="post" action="/moje-konto">
                <div class="modal-body">
                    <div class="mb-3">
                        Potwierdź termin udanego spotkania:
                    </div>
                    <div class="input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text giveback-prepend">Data spotkania</span>
                        </div>
                        <input data-date-format="dd/mm/yyyy" id="demo" class="form-control" required placeholder="Data spotkania">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Anuluj</button>
                    <!-- todo uncomment this line and delete below when post supported -->
                    <!-- todo set new renting status, new notification with giveback -->
                    <!--<input class="btn btn-primary" type="submit" value="Potwierdź">-->
                    <button class="btn btn-primary" type="button" data-dismiss="modal">Potwierdź</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Reading files and filenames -->
<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
<script>
    function onFileSelected(event) {
  var selectedFile = event.target.files[0];
  var reader = new FileReader();

  var imgtag = document.getElementById("main_image");
  imgtag.title = selectedFile.name;

  reader.onload = function(event) {
    imgtag.src = event.target.result;
  };

  reader.readAsDataURL(selectedFile);
}
</script>

<!-- edit product popup -->
<script>
    $('document').ready(function() {
        $('#editButton').on('click',function (event) {
            event.preventDefault();
            var info = $(this).attr('href');
            $.get(info,function(productInfo,status){
                $('#editProductModal #editProductName').val(productInfo.name);
                $('#editProductModal #editProductCategory').val(productInfo.category);
                $('#editProductModal #editProductDescroption').val(productInfo.description);
                $('#editProductModal #editProductId').val(productInfo.id);
                $('#editProductModal #editProductPoints').val(productInfo.coins);
                switch(productInfo.images.length) {
                    case 0:
                        $('#editProductModal #editProductDeletePhotos').hide();
                        break;
                    case 1:
                        $('#editProductModal #editProductAddPhoto3').hide();
                        $('#editProductModal #editProductDeletePhoto1 .img-gallery').val(productInfo.images.get(0));
                        $('#editProductModal #editProductDeletePhoto2').hide();
                        $('#editProductModal #editProductDeletePhoto3').hide();
                        break;
                    case 2:
                        $('#editProductModal #editProductAddPhoto2').hide();
                        $('#editProductModal #editProductAddPhoto3').hide();
                        $('#editProductModal #editProductDeletePhoto1 .img-gallery').val(productInfo.images.get(0));
                        $('#editProductModal #editProductDeletePhoto2 .img-gallery').val(productInfo.images.get(1));
                        $('#editProductModal #editProductDeletePhoto3').hide();
                        break;
                    case 3:
                        $('#editProductModal #editProductAddPhotos').hide();
                        $('#editProductModal #editProductDeletePhoto1 .img-gallery').val(productInfo.images.get(0));
                        $('#editProductModal #editProductDeletePhoto2 .img-gallery').val(productInfo.images.get(1));
                        $('#editProductModal #editProductDeletePhoto3 .img-gallery').val(productInfo.images.get(2));
                        break;
                }
            });
            $('#editProductModal').modal();
            //todo make image browser work
        }); //end of starting modal
        $('#editProductModal #editProductSave').on('click',function(event){
            event.preventDefault();
            var data = [];
            var id = $('#editProductModal #editProductId').val();
            var name = $('#editProductModal #editProductName').val();
            var category = $('#editProductModal #editProductCategory').val();
            var desc = $('#editProductModal #editProductDescroption').val();
            var coins = $('#editProductModal #editProductPoints').val();
            //var data = [id, name, category, desc];
            data.push(id);
            data.push(name);
            data.push(category);
            data.push(desc);
            data.push(coins);
            var arrayData = jQuery.makeArray(data);
            $('#editProductModal').modal('hide');
            $.ajax ({
                type: 'POST',
                url: '/moje-konto/moje-produkty/edycja',
                data: {info: data},
                success: function (result) {//On Successful service call
                    console.log(result);
                }
            });
        });
    });
</script>

<script type="text/javascript" th:inline="javascript">
    $('document').ready(function() {
        var refresh = [[${refreshNeeded}]];
        if (refresh === true) {
            window.location.reload();
            //TODO: skoro był refresh to znaczy ze cos usunieto, a wiec popup ze usunieto xd
        }
    });
</script>

<!-- Bootstrap core JavaScript-->
<script src="../user-panel/vendor/jquery/jquery.min.js"></script>
<script src="../user-panel/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../user-panel/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="../user-panel/vendor/chart.js/Chart.min.js"></script>
<script src="../user-panel/vendor/datatables/jquery.dataTables.js"></script>
<script src="../user-panel/vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="../user-panel/js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="../user-panel/js/demo/datatables-demo.js"></script>
<script src="../user-panel/js/demo/chart-area-demo.js"></script>

<!-- pignose.calendar js -->
<script src="../datepicker-popup/js/pignose.calendar.full.min.js"></script>
<!-- script js -->
<script src="../datepicker-popup/js/script.js"></script>

<!-- Date picker range -->
<script type="text/javascript" src="../../daterangepicker-master/moment.min.js"></script>
<script type="text/javascript" src="../../daterangepicker-master/daterangepicker.js"></script>

<script>
$('#demo').daterangepicker({
    "singleDatePicker": true,
    "showDropdowns": false,
    "locale": {
        "format": "DD/MM/YYYY",
        "separator": " / ",
        "applyLabel": "",
        "cancelLabel": "Cancel",
        "fromLabel": "Od",
        "toLabel": "Do",
        "customRangeLabel": "Custom",
        "weekLabel": "T",
        "daysOfWeek": [
            "Nie",
            "Pon",
            "Wto",
            "Śro",
            "Czw",
            "Pią",
            "Sob"
        ],
        "monthNames": [
            "Styczeń",
            "Luty",
            "Marzec",
            "Kwiecień",
            "Maj",
            "Czerwiec",
            "Lipiec",
            "Sierpień",
            "Wrzesień",
            "Październik",
            "Listopad",
            "Grudzień"
        ],
        "firstDay": 1
    },
    "applyButtonClasses": "btn-warning",
    "cancelClass": "btn-warning"
}, function(start, end, label) {
  console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
});
</script>

</body>

</html>
