<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="user-panel/user_layout :: template_header"></head>

<body id="page-top" class="sidebar-toggled">

<div class="full-height bg-panel">

    <nav th:replace="user-panel/user_layout :: navi"></nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav toggled">
            <li class="nav-item">
                <a class="nav-link" href="panel">
                    <i class="fas fa-fw fa-th-large"></i>
                    <span>Panel</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-user-edit"></i>
                    <span>Moje dane</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <h6 class="dropdown-header pl-3">Moje konto:</h6>
                    <a class="dropdown-item" href="edytuj-dane">Edytuj swoje dane</a>
                    <a class="dropdown-item" href="zmien-haslo">Zmień hasło</a>
                </div>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-archive"></i>
                    <span>Moje produkty</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <h6 class="dropdown-header pl-3">Moje produkty:</h6>
                    <a class="dropdown-item" href="moje-produkty">Pokaż produkty</a>
                    <a class="dropdown-item" href="dodaj-produkt">Dodaj produkt</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="wypozyczone-produkty">
                    <i class="fas fa-fw fa-shopping-basket"></i>
                    <span>Wypożyczone</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="moje-statystyki">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Statystyki</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="moje-punkty">
                    <i class="fas fa-fw fa-donate"></i>
                    <span>Moje punkty</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="powiadomienia">
                    <i class="fas fa-fw fa-bell"></i>
                    <span>Powiadomienia</span></a>
            </li>
        </ul>

        <div id="content-wrapper">
            <div class="card-header text-center">
                <h1 class="text-uppercase">Moje produkty</h1>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs text-left" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link pl-2 active show" data-toggle="tab" href="#current" role="tab" aria-selected="true">Obecne produkty</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-2" data-toggle="tab" href="#past" role="tab">Archiwum</a>
                    </li>
                </ul>
            </div>

            <!-- Tab panes {Fade}  -->
            <div class="tab-content">
                <div class="tab-pane fade in active show" id="current" name="current" role="tabpanel">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="table-responsive">
                                <div class="mb-2">
                                    <a onclick="deleteSeletedProducts()" class="btn btn-danger" 
                                        style="cursor:pointer;">
                                        <i class="fas fa-trash-alt"></i>
                                        <span>Usuń zaznaczone</span>
                                    </a>
                                </div>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead class="thead-agency">
                                    <tr >
                                        <th class="text-center">
                                            <span class="custom-checkbox">
                                                <input type="checkbox" id="selectAllUp">
                                                <label for="selectAllUp"></label>
                                            </span>
                                        </th>
                                        <th>Nazwa Produktu</th>
                                        <th>Kategoria</th>
                                        <th>Data Dodania</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Do Wypożyczenia</th>
                                        <th class="text-center"></th>
                                    </tr>
                                    </thead>
                                    <tfoot class="thead-agency">
                                    <tr data-href="">
                                        <th class="text-center">
                                            <span class="custom-checkbox">
                                                <input type="checkbox" id="selectAllDown">
                                                <label for="selectAllUp"></label>
                                            </span>
                                        </th>
                                        <th>Nazwa Produktu</th>
                                        <th>Kategoria</th>
                                        <th>Data Dodania</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Do Wypożyczenia</th>
                                        <th class="text-center"></th>
                                    </tr>
                                    </tfoot>
                                    <tbody class="table-rows-body">
                                    <tr class="pointer-row" th:each="product:${ProductsList}">
                                        <td class="text-center">
                                            <span class="custom-checkbox">
                                                <input type="checkbox" id="checkbox1" name="product"
                                                       th:value="${product.getId()}">
                                                <label for="checkbox1" ></label>
                                            </span>
                                        </td>
                                        <td th:text="${product.getProductName()}" th:class="pointer-cell"
                                        th:onclick="|window.location.href='/moje-konto/info-produktu?item=${product.getId()}'|"></td>
                                        <td th:text="${product.getCategoryName()}" th:class="pointer-cell"
                                            th:onclick="|window.location.href='/moje-konto/info-produktu?item=${product.getId()}'|"></td>
                                        <td th:text="${#dates.format(product.getAddDate(), 'dd/MM/yyyy')}" th:class="pointer-cell"
                                            th:onclick="|window.location.href='/moje-konto/info-produktu?item=${product.getId()}'|"></td>
                                        <td class="text-center" th:switch="${product.getStatus()}" th:class="pointer-cell"
                                            th:onclick="|window.location.href='/moje-konto/info-produktu?item=${product.getId()}'|">
                                            <div th:case="${T(com.lending.entities.RentingStatus).Zrealizowane}">Wypożyczony</div>
                                            <div th:case="${T(com.lending.entities.RentingStatus).Utworzone}">Zamówiony</div>
                                            <div th:case="*">-</div>
                                        </td>
                                        <td class="text-center">
                                            <span class="custom-checkbox">
                                                <input type="checkbox" id="checkbox30" name="options[]" value="1"
                                                    th:checked="${product.isCanBeBorrowed()}"
                                                       style="cursor: pointer"
                                                       th:id="${product.getId()}"
                                                       th:attr="onchange='checkBoxSelected('+${product.getId()}+')'">
                                                <label for="checkbox1"></label>
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <!-- todo change color of "check" when disabled -->
                                            <!-- todo handle check modal (db)-->
                                            <a style="cursor: pointer;" class="edit"
                                               th:if="${product.isCanBeChecked()} == true"
                                                th:attr="onclick='confirmBorrow('+${product.getId()}+',\''+${product.getStatus()}+'\')'">
                                                <i class="fas fa-check"></i>
                                            </a>
                                            <a class="edit" data-toggle="modal" disabled="true"
                                               th:if="${product.isCanBeChecked()} == false">
                                                <i class="fas fa-check"></i>
                                            </a>
                                            <a class="edit modalEditButton" data-toggle="modal"
                                               th:href="@{/moje-konto/info-produktu/edycja-produktu/(id=${product.getId()})}" id="editButton">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a class="edit" style="cursor: pointer"
                                               th:attr="onclick='deleteSingleProduct('+${product.getId()}+')'">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="past" role="tabpanel">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                                    <thead class="thead-agency">
                                    <tr>
                                        <th>Lp.</th>
                                        <th>Nazwa Produktu</th>
                                        <th>Kategoria</th>
                                        <th>Data Dodania</th>
                                        <th>Czy wypozyczony</th>
                                    </tr>
                                    </thead>
                                    <tfoot class="thead-agency">
                                    <tr>
                                        <th>Lp.</th>
                                        <th>Nazwa Produktu</th>
                                        <th>Kategoria</th>
                                        <th>Data Dodania</th>
                                        <th>Czy wypozyczony</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    <tr th:each="archiveProduct,iter :${ArchiveProductsList}">
                                        <td th:text="${iter.index}+1"></td>
                                        <a href="/moje-konto/product-details">
                                            <td th:text="${archiveProduct.getProductName()}"></td>
                                        </a>
                                        <td th:text="${archiveProduct.getCategoryName()}"></td>
                                        <td th:text="${#dates.format(archiveProduct.getAddDate(), 'dd-MM-yyyy')}"></td>
                                        <td>-</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

        <footer th:replace="user-panel/user_layout :: foot"></footer>

    </div>
    <!-- /.content-wrapper -->

    </div>
<!-- /#wrapper -->
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Delete Product Modal-->
<div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Czy na pewno chcesz usunąć produkt?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Wybierz "Potwierdź" jeżeli chcesz usunąć produkt.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Anuluj</button>
                <button class="btn btn-primary"  type="button" id="confirm-delete-item" data-dismiss="modal">Potwierdź</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Selected Product Modal-->
<div class="modal fade" id="deleteSelectedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Czy na pewno chcesz usunąć zaznaczone produkty?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Wybierz "Potwierdź" jeżeli chcesz usunąć zaznaczone.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Anuluj</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal" id="confirm-selection-delete">Potwierdź</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Product Modal-->
<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chcesz edytować produkt?</h5>
                <input type="hidden" id="editProductId" />
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" onclick="clearData()">×</span>
                </button>
            </div>
            <form method="post" action="/moje-konto">
                <div class="modal-body">
                    <!--<div class="d-md-flex">-->
                        <!--<div class="pr-md-2 flex-fill form-group text-left">-->
                            <!--<input name="productName" type="text" class="form-control" required placeholder="Nazwa"-->
                                   <!--id="editProductName">-->
                        <!--</div>-->
                        <!--<div class="pl-md-2 flex-fill form-group text-left">-->
                            <!--<input name="productCoins" type="text" class="form-control" required placeholder="Cena Borrow Coins"-->
                                   <!--id="editProductPoints">-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group text-left">
                        <label>Nazwa przedmiotu:</label>
                        <input name="productName" type="text" class="form-control" required placeholder="Nazwa"
                               id="editProductName">
                    </div>
                    <div class="form-group text-left">
                        <label>Kategoria:</label>
                        <select name="productCategory" class="form-control" id="editProductCategory">
                            <div th:each="cat:${categories}">
                                <optgroup th:label="${cat.getHigherLevelType().getName()}"
                                          th:value="${cat.getHigherLevelType().getId()}">
                                </optgroup>
                                <div th:each="sub1:${cat.getSubcategories()}">
                                    <option th:if="${sub1.getSubcategories().size() == 0}"
                                            th:value="${sub1.getHigherLevelType().getId()}"
                                            th:label="${'---->' + sub1.getHigherLevelType().getName()}"
                                            ></option>
                                    <optgroup th:if="${sub1.getSubcategories().size() != 0}"
                                              th:value="${sub1.getHigherLevelType().getId()}"
                                              th:label="${'---->' + sub1.getHigherLevelType().getName()}"
                                              ></optgroup>
                                    <div th:each="sub2:${sub1.getSubcategories()}">
                                        <option th:if="${sub2.getSubcategories().size() == 0}"
                                                th:value="${sub2.getHigherLevelType().getId()}"
                                                th:label="${'-------->' + sub2.getHigherLevelType().getName()}"
                                                ></option>
                                        <optgroup th:if="${sub2.getSubcategories().size() != 0}"
                                                  th:value="${sub2.getHigherLevelType().getId()}"
                                                  th:label="${'-------->' + sub2.getHigherLevelType().getName()}"
                                                  ></optgroup>
                                        <div th:each="sub3:${sub2.getSubcategories()}">
                                            <option th:value="${sub3.getHigherLevelType().getId()}"
                                                    th:label="${'------------>' + sub3.getHigherLevelType().getName()}"
                                                    ></option>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </select>
                    </div>
                    <div class="form-group text-left">
                        <label>Cena Borrow Coins:</label>
                        <input name="productCoins" type="number" class="form-control" required placeholder="Cena Borrow Coins"
                               id="editProductPoints">
                    </div>
                    <div class="form-group text-left">
                        <label>Opis:</label>
                        <textarea class="form-control" id="editProductDescroption" placeholder="Opis"></textarea>
                    </div>
                    <div class="form-group" id="editProductDeletePhotos">
                        <label>Usuń wybrane zdjęcie:</label>
                        <div class="row">
                            <div class="col-md-4 text-center mb-5" id="editProductDeletePhoto1">
                                    <span class="custom-checkbox">
                                        <input type="checkbox" name="toDelete" value="1" id="deletePhotoCheck1">
                                        <label for="checkbox55"></label>
                                    </span>
                                <img class="img-gallery" alt="" id="showPhoto1">
                            </div>
                            <div class="col-md-4 text-center mb-5" id="editProductDeletePhoto2">
                                    <span class="custom-checkbox">
                                        <input type="checkbox" name="toDelete" value="1" id="deletePhotoCheck2">
                                        <label for="checkbox55"></label>
                                    </span>
                                <img class="img-gallery"  alt="" id="showPhoto2">
                            </div>
                            <div class="col-md-4 text-center mb-5" id="editProductDeletePhoto3">
                                    <span class="custom-checkbox">
                                        <input type="checkbox" name="toDelete" value="1" id="deletePhotoCheck3">
                                        <label for="checkbox55"></label>
                                    </span>
                                <img class="img-gallery" alt="" id="showPhoto3">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="editProductAddPhotos">
                        <label>Dodaj zdjęcia:</label>
                        <div class="custom-file mb-1" id="editProductAddPhoto1">
                            <input type="file" class="custom-file-input" id="uploadFile1"
                                   accept="image/*">
                            <label class="custom-file-label  text-truncate" for="uploadFile1"
                                   id="uploadFileLabel1">Wybierz plik</label>
                            <input type="hidden" id="uploadFileString1"/>
                        </div>
                        <div class="custom-file mb-1" id="editProductAddPhoto2">
                            <input type="file" class="custom-file-input" id="uploadFile2" lang="pl-Pl"
                                   accept="image/*">
                            <label class="custom-file-label  text-truncate" for="uploadFile2"
                                id="uploadFileLabel2">Wybierz plik</label>
                            <input type="hidden" id="uploadFileString2"/>
                        </div>
                        <div class="custom-file" id="editProductAddPhoto3">
                            <input type="file" class="custom-file-input" id="uploadFile3" lang="pl-Pl"
                                   accept="image/*">
                            <label class="custom-file-label  text-truncate" for="uploadFile3"
                                id="uploadFileLabel3">Wybierz plik</label>
                            <input type="hidden" id="uploadFileString3"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-raised btn-primary mb-1"
                            id="editProductSave">Zapisz dane</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chcesz opuścić stronę?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Wybierz "Wyloguj" jeżeli chcesz zakonczyć sesję.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Anuluj</button>
                <!-- logout from session -->
                <a class="btn btn-primary" th:href="@{/logout}">Wyloguj</a>
            </div>
        </div>
    </div>
</div>

<!-- Check Borrow Modal-->
<div class="modal fade" id="checkBorrowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="confirmBorrowTitle" class="modal-title">Chcesz potwierdzić wypożyczenie produktu?</h5>
                <h5 id="confirmReturnTitle" class="modal-title">Chcesz potwierdzić oddanie produktu?</h5>
                <input type="hidden" id="meetingProductId">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="post" action="/moje-konto">
                <div class="modal-body">
                    <div class="mb-3">
                        Potwierdź termin udanego spotkania:
                    </div>
                    <div class="input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text giveback-prepend">Data spotkania</span>
                        </div>
                        <input data-date-format="dd/mm/yyyy" id="demo" class="form-control" required placeholder="Data spotkania">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Anuluj</button>
                    <!--<input class="btn btn-primary" type="submit" value="Potwierdź">-->
                    <button class="btn btn-primary" id="confirmDateBtn" type="button" data-dismiss="modal">Potwierdź</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Save data toast -->
<div class="toast" data-delay="1500">
    <div class="toast-header">
        <strong class="mr-auto yellow-text">Poprawnie zmieniono dane.</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
    </div>
</div>

<!-- edit product popup -->
<script>
const sleep = function(milliseconds) {
      return new Promise(function(resolve){
          setTimeout(resolve, milliseconds);

      });
    };
    $('document').ready(function() {
        $('.modalEditButton').on('click',function (event) {
            event.preventDefault();
            var info = $(this).attr('href');
            $.get(info,function(productInfo,status){
                $('#editProductModal #editProductName').val(productInfo.name);
                $('#editProductModal #editProductCategory').val(productInfo.category);
                $('#editProductModal #editProductDescroption').val(productInfo.description);
                $('#editProductModal #editProductId').val(productInfo.id);
                $('#editProductModal #editProductPoints').val(productInfo.coins);
                switch(productInfo.images.length) {
                    case 0:
                        $('#editProductModal #editProductDeletePhotos').hide();
                        break;
                    case 1:
                        $('#editProductModal #editProductAddPhoto3').hide();
                        document.getElementById('showPhoto1').setAttribute('src', productInfo.images[0]);
                        $('#editProductModal #editProductDeletePhoto1 #deletePhotoCheck1').val(productInfo.imagesIds[0]);
                        $('#editProductModal #editProductDeletePhoto2').hide();
                        $('#editProductModal #editProductDeletePhoto3').hide();
                        break;
                    case 2:
                        $('#editProductModal #editProductAddPhoto2').hide();
                        $('#editProductModal #editProductAddPhoto3').hide();
                        document.getElementById('showPhoto1').setAttribute('src', productInfo.images[0]);
                        $('#editProductModal #editProductDeletePhoto1 #deletePhotoCheck1').val(productInfo.imagesIds[0]);
                        document.getElementById('showPhoto2').setAttribute('src', productInfo.images[1]);
                        $('#editProductModal #editProductDeletePhoto2 #deletePhotoCheck2').val(productInfo.imagesIds[1]);
                        $('#editProductModal #editProductDeletePhoto3').hide();
                        break;
                    case 3:
                        $('#editProductModal #editProductAddPhotos').hide();
                        document.getElementById('showPhoto1').setAttribute('src', productInfo.images[0]);
                        $('#editProductModal #editProductDeletePhoto1 #deletePhotoCheck1').val(productInfo.imagesIds[0]);
                        document.getElementById('showPhoto2').setAttribute('src', productInfo.images[1]);
                        $('#editProductModal #editProductDeletePhoto2 #deletePhotoCheck2').val(productInfo.imagesIds[1]);
                        document.getElementById('showPhoto3').setAttribute('src', productInfo.images[2]);
                        $('#editProductModal #editProductDeletePhoto3 #deletePhotoCheck3').val(productInfo.imagesIds[2]);
                        break;
                }
            });
            $('#editProductModal').modal();
        }); //end of starting modal
        $('#editProductModal #editProductSave').on('click',function(event){
            event.preventDefault();
            var data = [];
            var id = $('#editProductModal #editProductId').val();
            var name = $('#editProductModal #editProductName').val();
            var category = $('#editProductModal #editProductCategory').val();
            var desc = $('#editProductModal #editProductDescroption').val();
            var coins = $('#editProductModal #editProductPoints').val();
            var img1 = $('#editProductModal #uploadFileString1').val();
            var img2 = $('#editProductModal #uploadFileString2').val();
            var img3 = $('#editProductModal #uploadFileString3').val();
            //var data = [id, name, category, desc];
            data.push(id);
            data.push(name);
            data.push(category);
            data.push(desc);
            data.push(coins);
            var images = [];
            images.push(img1);
            images.push(img2);
            images.push(img3);
            var selected = [];
            $.each($("input[name='toDelete']:checked"), function() {
                selected.push($(this).val())
            });
            $('#editProductModal').modal('hide');
            clearData();
            $.ajax ({
                type: 'POST',
                url: '/moje-konto/moje-produkty/edycja',
                data: {info: data, images: images, toDelete: selected},
                success: function (result) {//On Successful service call
                    console.log(result);
                    $('.toast').toast('show');
                    sleep(500).then(function() {
                        location.reload();
                      });
                    //location.reload();
                }
            });
        });
    });
</script>

<script>
    // Add the following code if you want the name of the file appear on select
    $("#uploadFile1").on("change", function(event) {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings("#uploadFileLabel1").addClass("selected").html(fileName);
        var f = event.target.files[0];
        var reader = new FileReader();
        reader.onload = (function (thefile) {
            return function(e) {
                var binD = e.target.result;
                var b64 = window.btoa(binD);
                document.getElementById('uploadFileString1').value = b64;
            };
        })(f);
        reader.readAsBinaryString(f);
    });
    $("#uploadFile2").on("change", function(event) {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings("#uploadFileLabel2").addClass("selected").html(fileName);
        var f = event.target.files[0];
        var reader = new FileReader();
        reader.onload = (function (thefile) {
            return function(e) {
                var binD = e.target.result;
                var b64 = window.btoa(binD);
                document.getElementById('uploadFileString2').value = b64;
            };
        })(f);
        reader.readAsBinaryString(f);
    });
    $("#uploadFile3").on("change", function(event) {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings("#uploadFileLabel3").addClass("selected").html(fileName);
        var f = event.target.files[0];
        var reader = new FileReader();
        reader.onload = (function (thefile) {
            return function(e) {
                var binD = e.target.result;
                var b64 = window.btoa(binD);
                document.getElementById('uploadFileString3').value = b64;
            };
        })(f);
        reader.readAsBinaryString(f);
    });
</script>

<script>
    function clearData() {
        document.getElementById('showPhoto1').setAttribute('src', '');
        $('#editProductModal #editProductDeletePhoto1 #deletePhotoCheck1').val('');
        document.getElementById('showPhoto2').setAttribute('src', '');
        $('#editProductModal #editProductDeletePhoto2 #deletePhotoCheck2').val('');
        document.getElementById('showPhoto3').setAttribute('src', '');
        $('#editProductModal #editProductDeletePhoto3 #deletePhotoCheck3').val('');
        $.each($("input[name='toDelete']:checked"), function() {
            $(this).val('');
        });
        $('#uploadFile1').val('');
        $('#uploadFile2').val('');
        $('#uploadFile3').val('');
        $('#uploadFileLabel1').val('');
        $('#uploadFileLabel2').val('');
        $('#uploadFileLabel3').val('');
        $('#editProductModal #editProductId').val();
        $('#editProductModal #editProductName').val();
        $('#editProductModal #editProductCategory').val('');
        $('#editProductModal #editProductDescroption').val('');
        $('#editProductModal #editProductPoints').val('');
        $('#editProductModal #uploadFileString1').val('');
        $('#editProductModal #uploadFileString2').val('');
        $('#editProductModal #uploadFileString3').val('');
        $('#editProductModal #editProductDeletePhotos').show();
        $('#editProductModal #editProductDeletePhoto1').show();
        $('#editProductModal #editProductDeletePhoto2').show();
        $('#editProductModal #editProductDeletePhoto3').show();
        $('#editProductModal #editProductAddPhoto1').show();
        $('#editProductModal #editProductAddPhoto2').show();
        $('#editProductModal #editProductAddPhoto3').show();
    }
</script>

<!-- handle check button modal -->
<script>
    function confirmBorrow(id,status) {
        if (status == 'Utworzone') {
            $('#confirmBorrowTitle').show();
            $('#confirmReturnTitle').hide();
        }
        else {
            $('#confirmBorrowTitle').hide();
            $('#confirmReturnTitle').show();
        }
        $('#checkBorrowModal').modal();
        $('#confirmDateBtn').on('click', function (event) {
            event.preventDefault();
            var date = $('#demo').val();
            $('#checkBorrowModal').modal('hide');
            $('#confirmBorrowTitle').show();
            $('#confirmReturnTitle').show();
            $.ajax({
               method: 'POST',
               data: {item: id, mDate: date},
               url: '/moje-konto/moje-produkty/potwierdz',
               success: function(data) {
                    window.location.reload();
                    //todo popup
               }
            });
        });
    }
</script>

<script type="text/javascript" th:inline="javascript">
    $('document').ready(function() {
        var refresh = [[${refreshNeeded}]];
        if (refresh === true) {
            window.location.reload();
        }
    });
</script>

<!-- Bootstrap core JavaScript-->
<script src="../user-panel/vendor/jquery/jquery.min.js"></script>
<script src="../user-panel/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../user-panel/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="../user-panel/vendor/chart.js/Chart.min.js"></script>
<script src="../user-panel/vendor/datatables/jquery.dataTables.js"></script>
<script src="../user-panel/vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="../user-panel/js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="../user-panel/js/demo/datatables-demo.js"></script>
<script src="../user-panel/js/demo/chart-area-demo.js"></script>

<!-- pignose.calendar js -->
<script src="../datepicker-popup/js/pignose.calendar.full.min.js"></script>
<!-- script js -->
<script src="../datepicker-popup/js/script.js"></script>

<!-- Date picker range -->
<script type="text/javascript" src="../../daterangepicker-master/moment.min.js"></script>
<script type="text/javascript" src="../../daterangepicker-master/daterangepicker.js"></script>

<script>
$('#demo').daterangepicker({
    "singleDatePicker": true,
    "showDropdowns": false,
    "locale": {
        "format": "DD/MM/YYYY",
        "separator": " / ",
        "applyLabel": "",
        "cancelLabel": "Cancel",
        "fromLabel": "Od",
        "toLabel": "Do",
        "customRangeLabel": "Custom",
        "weekLabel": "T",
        "daysOfWeek": [
            "Nie",
            "Pon",
            "Wto",
            "Śro",
            "Czw",
            "Pią",
            "Sob"
        ],
        "monthNames": [
            "Styczeń",
            "Luty",
            "Marzec",
            "Kwiecień",
            "Maj",
            "Czerwiec",
            "Lipiec",
            "Sierpień",
            "Wrzesień",
            "Październik",
            "Listopad",
            "Grudzień"
        ],
        "firstDay": 1
    },
    "applyButtonClasses": "btn-warning",
    "cancelClass": "btn-warning"
}, function(start, end, label) {
  console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
});
</script>

<!-- 'do wypozyczenia' checkbox -->
<script>

    function checkBoxSelected(id) {
        var checkbox = document.getElementById(id);
        var sel = !!checkbox.checked;
        const sleep = (milliseconds) =;> {
          return new Promise(resolve => setTimeout(resolve, milliseconds);)
        }
        $.ajax({
            type: 'POST',
            url: "/moje-konto/moje-produkty/do-wypozyczenia",
            data: {item: id, checked: sel},
            success: function(data) {
            $('.toast').toast('show');
                    sleep(500).then(() => {
                        location.reload();
                      })
                //location.reload();
            }
        });
    }
</script>

</body>

</html>
