<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8" />
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">

    <title>Borrow Me!</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./css/master.css">
    <link rel="stylesheet" href="./css/signin.css">
    <!--<link rel="stylesheet" href="css/bootstrap-social.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
  </head>
  <body>
	<script>
		window.fbAsyncInit = function() {
		FB.init({
			appId            : '707739519623447',
			autoLogAppEvents : true,
			xfbml            : true,
			version          : 'v3.2'
		});
		};
	</script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
	<script async defer src="https://connect.facebook.net/pl_PL/sdk.js"></script>
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v3.2&appId=707739519623447&autoLogAppEvents=1"></script>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top clearfix">
      <!-- Brand/logo -->
      <a class="navbar-brand" asp-route="index">Borrow Me!</a>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" asp-route="index">Strona główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-route="contact">Kontakt</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" asp-route="login">Logowanie</a>
        </li>
      </ul>
    </nav><br><br>
	


    <!--<form class="form-signin text-center" action="./user-panel/index.html">
          <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
          <h1 class="h3 mb-3 font-weight-normal">Zaloguj się</h1>
          <label for="inputEmail" class="sr-only">Login</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Login" required autofocus>
          <label for="inputPassword" class="sr-only">Hasło</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Hasło" required>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Zapamiętaj mnie
            </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się</button>
          <div class="fb-login-button mt-3" data-size="large" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
          <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
		
        </form>-->
    <div class="flex-column mt-7">
    <div class="shadow p-3 mb-3 bg-white rounded">
      <div class="card text-center">
        <div class="card-body text-center">
          <h2 class="card-title mb-5">Logowanie</h2>
          <form>
            <div class="form-group text-left mb-4">
              <input id="email" type="email" class="form-control" required placeholder="Adres email" >
            </div>
            <div class="form-group text-left mb-4">
              <input id="password" type="password" class="form-control" required placeholder="Hasło">
            </div>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Zapamiętaj mnie
              </label>
            </div>
            <button type="submit" class="btn btn-raised btn-primary btn-block mb-3">Zaloguj</button>
            <hr/>
            <button class="btn-block loginBtn loginBtn--facebook mb-3">Kontynuuj przez Facebooka</button>
            <button class="btn-block loginBtn loginBtn--google">Kontynuuj przez Google</button>
          </form>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
