
@{
    ViewBag.Title = "Login";
}

    <script>
		window.fbAsyncInit = function() {
		FB.init({
			appId            : '707739519623447',
			autoLogAppEvents : true,
			xfbml            : true,
			version          : 'v3.2'
		});
		};
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script async defer src="https://connect.facebook.net/pl_PL/sdk.js"></script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v3.2&appId=707739519623447&autoLogAppEvents=1"></script>

    <!--<form class="form-signin text-center" action="./user-panel/index.html">
          <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
          <h1 class="h3 mb-3 font-weight-normal">Zaloguj się</h1>
          <label for="inputEmail" class="sr-only">Login</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Login" required autofocus>
          <label for="inputPassword" class="sr-only">Hasło</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Hasło" required>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Zapamiętaj mnie
            </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się</button>
          <div class="fb-login-button mt-3" data-size="large" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
          <p class="mt-5 mb-3 text-muted">&copy; 2019</p>

        </form>-->
    <div class="flex-column mt-7">
        <div class="shadow p-3 mb-3 bg-white rounded">
            <div class="card text-center">
                <div class="card-body text-center">
                    <h2 class="card-title mb-5">Logowanie</h2>
                    <form>
                        <div class="form-group text-left mb-4">
                            <input id="email" type="email" class="form-control" required placeholder="Adres email">
                        </div>
                        <div class="form-group text-left mb-4">
                            <input id="password" type="password" class="form-control" required placeholder="Hasło">
                        </div>
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="remember-me"> Zapamiętaj mnie
                            </label>
                        </div>
                        <button type="submit" class="btn btn-raised btn-primary btn-block mb-3">Zaloguj</button>
                        <hr />
                        <button class="btn-block loginBtn loginBtn--facebook mb-3">Kontynuuj przez Facebooka</button>
                        <button class="btn-block loginBtn loginBtn--google">Kontynuuj przez Google</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


