.indigo{background-color: indigo;}

.text-indigo{color: indigo;}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.hideme
{
    opacity:0;
}

.clickable-title:hover{
  cursor: pointer;
  opacity:0.9;
}

.top-buffer { margin-top:7%;}

.notification-box{
  padding: 10px 0px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  background-color: #17A2B8;
}
.dropdown-menu-notifications{
  top: 60px;
  right: 0px;
  left: unset;
  box-shadow: 0px 5px 7px -1px #c1c1c1;
  padding-bottom: 0px;
  padding: 0px;
}

.dropdown-item-notifications {
  display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-menu-notifications:before{
  content: "";
  position: absolute;
  top: -20px;
  right: 12px;
  border:10px solid #343A40;
  border-color: transparent transparent #343A40 transparent;
}

.head{
  padding:5px 15px;
  border-radius: 3px 3px 0px 0px;
}
.footer{
  padding:5px 15px;
  border-radius: 0px 0px 3px 3px;
}
.notification-box{
  padding: 10px 0px;
}
.bg-gray{
  background-color: #eee;
}

@media (min-width: 300px) {
    .dropdown-menu{
      top: 50px;
      left: auto;
      right: 0;
    }
    .nav{
      display: block;
    }
    .nav .nav-item,.nav .nav-item a{
      padding-left: 0px;
    }
    .message{
      font-size: 13px;
    }
}

.table .thead-agency th {
    color: #394046;
    background-color: #fed54d;
    border-color: #fec91b;
    font-family: 'Roboto Slab',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
