<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Pożyczaj przedmioty ludziom">
    <meta name="author" content="">
    <meta name="theme-color" content="#fed136">

    <title>BorrowMe!</title>

    <link rel="manifest" href="/manifest.json">

    <!-- Bootstrap core CSS -->
    <link href="../startbootstrap-agency-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../startbootstrap-agency-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- FavIcon -->
    <link rel="shortcut icon" type="image/png" href="https://raw.githubusercontent.com/grottkauer/zpi/master/!Documents/icons/32.png">

    <!-- Custom styles for this template -->
    <link href="../startbootstrap-agency-gh-pages/css/agency.min.css" rel="stylesheet">

    <!-- Added css files -->
    <link href="../css/master.css" rel="stylesheet">

    <!-- Added jquery files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

   <!-- Added service worker registration-->
    <script src="../js/main.js"></script>

    <script>
       // ServiceWorker is a progressive technology. Ignore unsupported browsers
        if ('serviceWorker' in navigator) {
          console.log('CLIENT: service worker registration in progress.');
          navigator.serviceWorker.register('/service-worker.js').then(function() {
            console.log('CLIENT: service worker registration complete.');
          }, function() {
            console.log('CLIENT: service worker registration failure.');
          });
        } else {
          console.log('CLIENT: service worker is not supported.');
        }
    </script>

    <!-- Added jquery onScroll-->
    <script type="text/javascript">
$(document).ready(function() {
  /* Every time the window is scrolled ... */
  $(window).scroll( function(){
      /* Check the location of each desired element */
      $('.hideme').each( function(i){
          var bottom_of_object = $(this).position().top + $(this).outerHeight();
          var bottom_of_window = $(window).scrollTop() + $(window).height();
          /* If the object is completely visible in the window, fade it it */
          if( bottom_of_window > bottom_of_object ){
              $(this).animate({'opacity':'1'},1100);
          }
      });
  });
});
</script>
</head>

<body id="page-top">

<!-- Navigation -->
<nav th:replace="layout :: navigation"></nav>

<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Witamy w naszej wypożyczalni!</div>
            <div class="intro-heading text-uppercase">Miło Cię tutaj widzieć</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Dowiedz się więcej</a>
        </div>
    </div>
</header>

<!-- Services -->
<section id="services">
    <div class="container">
        <div class="row hideme">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading text-uppercase">Usługi</h1>
                <h3 class="section-subheading text-muted">Nasza wypożyczalnia dostarcza użytkownikom wiele udogodnień.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 top-buffer hideme">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-book-open fa-stack-1x fa-inverse"></i>
          </span>
                <h4 class="service-heading">Asortyment</h4>
                <p class="text-muted">Umożliwiamy wypożyczanie różnych produktów od książek po instrumenty muzyczne.</p>
            </div>
            <div class="col-md-4 top-buffer hideme">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-users fa-stack-1x fa-inverse"></i>
          </span>
                <h4 class="service-heading">Giełda</h4>
                <p class="text-muted">Każdy może wystawić swój towar do wypożyczenia i każdy może go wypożyczyć.</p>
            </div>
            <div class="col-md-4 top-buffer hideme">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-dollar-sign fa-stack-1x fa-inverse"></i>
          </span>
                <h4 class="service-heading">Benefity</h4>
                <p class="text-muted">Za wypożyczone towary użytkownik dostaje punkty.</p>
            </div>
            <div class="col-md-4 top-buffer hideme">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-list-ol fa-stack-1x fa-inverse"></i>
          </span>
                <h4 class="service-heading">Ranking</h4>
                <p class="text-muted">Najlepsi użytkownicy pozycjonowani są w rankingach, dzięki którym mogą się
                    wypromować.</p>
            </div>
            <div class="col-md-4 top-buffer hideme">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-calendar-check fa-stack-1x fa-inverse"></i>
          </span>
                <h4 class="service-heading">Planer</h4>
                <p class="text-muted">Użytkownicy mogą ustalić ze sobą datę spotkania.</p>
            </div>
            <div class="col-md-4 top-buffer hideme">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
          </span>
                <h4 class="service-heading">Bezpieczeństwo</h4>
                <p class="text-muted">Transakcje wypożyczenia są bezpieczne ze względu na technologię blockchain.</p>
            </div>
        </div>
    </div>
</section>

<!-- Team -->
<section class="bg-light" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Nasz zespół</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="../startbootstrap-agency-gh-pages/img/team/ola.jpg" alt="">
                    <h5>Aleksandra Druciak</h5>
                    <p class="text-muted">Frontend Developer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="../startbootstrap-agency-gh-pages/img/team/natalia.jpg"
                         alt="">
                    <h5>Natalia Gąsiorowska</h5>
                    <p class="text-muted">Frontend Developer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="../startbootstrap-agency-gh-pages/img/team/michal.jpg"
                         alt="">
                    <h5>Michał Krause</h5>
                    <p class="text-muted">Backend Developer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="../startbootstrap-agency-gh-pages/img/team/janek.jpg"
                         alt="">
                    <h5>Jan Żyrek</h5>
                    <p class="text-muted">Backend Developer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque,
                    laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
    </div>
</section>

<!-- Clients -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" src="../startbootstrap-agency-gh-pages/img/logos/envato.jpg"
                         alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img class="img-fluid d-block mx-auto"
                         src="../startbootstrap-agency-gh-pages/img/logos/designmodo.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img class="img-fluid d-block mx-auto"
                         src="../startbootstrap-agency-gh-pages/img/logos/themeforest.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img class="img-fluid d-block mx-auto"
                         src="../startbootstrap-agency-gh-pages/img/logos/creative-market.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<footer th:replace="layout :: foot"></footer>
<!-- Bootstrap core JavaScript -->
<script src="../startbootstrap-agency-gh-pages/vendor/jquery/jquery.min.js"></script>
<script src="../startbootstrap-agency-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../startbootstrap-agency-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="../startbootstrap-agency-gh-pages/js/jqBootstrapValidation.js"></script>
<script src="../startbootstrap-agency-gh-pages/js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="../startbootstrap-agency-gh-pages/js/agency.min.js"></script>


</body>

</html>
