<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Pożyczaj przedmioty ludziom">
    <link rel="manifest" href="./manifest.json"/>
    <meta name="theme-color" content="#2a6fa5"/>
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top clearfix" th:fragment="navigation">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/">Borrow Me!</a>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Strona główna</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/kontakt">Kontakt</a>
        </li>
    </ul>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/zaloguj">Logowanie</a>
        </li>
    </ul>
</nav>

<!-- Footer -->
<footer class="page-footer font-small indigo text-white" th:fragment="foot">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 mx-auto">
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="text-white" href="#!">Very long link 1</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!">Very long link 2</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!">Very long link 3</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!">Very long link 4</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none">
            <!-- Grid column -->
            <div class="col-md-3 mx-auto">
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="text-white" href="#!">Link 1</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!">Link 2</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!">Link 3</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none">
            <!-- Grid column -->
            <div class="col-md-3 mx-auto">
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="text-white" href="#!">Link 1</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!">Link 2</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!">Link 3</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!">Link 4</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="text-white" href="#!">Link 1</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!">Link 2</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!">Link 3</a>
                    </li>
                    <li>
                        <a class="text-white" href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-secondary">© 2018 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

</body>
</html>