<!DOCTYPE html>
<html lang="pl" style="height: 100%" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Pożyczaj przedmioty ludziom">
    <meta name="author" content="">
    <meta name="theme-color" content="#fed136">

    <title>BorrowMe!</title>

    <!-- Bootstrap core CSS -->
    <link href="../startbootstrap-agency-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../startbootstrap-agency-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- FavIcon -->
    <link rel="shortcut icon" type="image/png" href="https://raw.githubusercontent.com/grottkauer/zpi/master/!Documents/icons/32.png">

    <!-- Custom styles for this template -->
    <link href="../startbootstrap-agency-gh-pages/css/agency.min.css" rel="stylesheet">

    <!-- Date picker range -->

    <script type="text/javascript" src="../../daterangepicker-master/moment.min.js"></script>
    <script type="text/javascript" src="../../daterangepicker-master/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="../../daterangepicker-master/daterangepicker.css" />

    <!-- Datepicker files -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>

    <!-- Added css files -->
    <link rel="stylesheet" href="./css/master.css">
    <link rel="stylesheet" href="./css/signin.css">
    <!--<link rel="stylesheet" href="css/bootstrap-social.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
    <!-- Toggle between login, registration, password reset -->
    <script type="text/javascript">
        $(document).ready(function(){
            $("#register").hide();
            $("#reset").hide();
            $("#btnRegisterReset").click(function(e){
                $("#reset").hide();
                $("#register").show();
                e.preventDefault();
            });
            $("#btnRegister").click(function(e){
                $("#login").hide();
                $("#register").show();
                e.preventDefault();
            });
            $("#btnLogin").click(function(e){
                $("#login").show();
                $("#register").hide();
                e.preventDefault();
            });
            $("#btnReset").click(function(e){
                $("#reset").show();
                $("#login").hide();
                e.preventDefault();
            });
            $("#btnLoginReset").click(function(e){
                $("#login").show();
                $("#reset").hide();
                e.preventDefault();
            });
        });
    </script>
</head>
<body id="login-body">
<script>
    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            window.location.pathname = '/moje-konto';
        } else {
            // The person is not logged into your app or we are unable to tell.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function() {
        FB.init({
            appId      : '707739519623447',
            cookie     : true,  // enable cookies to allow the server to access
                                // the session
            xfbml      : true,  // parse social plugins on this page
            version    : 'v3.3' // The Graph API version to use for the call
        });

        // Now that we've initialized the JavaScript SDK, we call
        // FB.getLoginStatus().  This function gets the state of the
        // person visiting this page and can return one of three states to
        // the callback you provide.  They can be:
        //
        // 1. Logged into your app ('connected')
        // 2. Logged into Facebook, but not your app ('not_authorized')
        // 3. Not logged into Facebook and can't tell if they are logged into
        //    your app or not.
        //
        // These three cases are handled in the callback function.

        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });

    };

    // Load the SDK asynchronously
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/pl_PLA/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v3.3&appId=707739519623447&autoLogAppEvents=1"></script>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="logMainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">BorrowMe!</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/">Strona Główna</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--Login-->
<div class="d-flex justify-content-center align-items-center full-height">
<!-- Login -->
    <div id="login"  class="card cardLogin text-center">
        <div class="card-body text-center">
            <h2 class="card-title mb-5">Logowanie</h2>
            <form method="post" th:action="@{/zaloguj}">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Niepoprawny login lub hasło.
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">
                        Wylogowano się.
                    </div>
                </div>
                <div class="form-group text-left mb-4">
                    <input name="username" type="email" class="form-control" required placeholder="Adres email" >
                </div>
                <div class="form-group text-left mb-4">
                    <input name="password" type="password" class="form-control" required placeholder="Hasło">
                </div>
                <div class="checkbox mb-3 text-left">
                    <label>
                        <input type="checkbox" value="remember-me"> Zapamiętaj mnie
                    </label>
                </div>
                <button type="submit" class="btn btn-raised btn-primary btn-block mb-3">Zaloguj</button>
                <hr/>
                <div class="fb-login-button mb-3" data-width="308" data-size="large" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
                <button class="btn-block loginBtn loginBtn--google">Kontynuuj przez Google</button>
                <hr/>
                <div class="d-flex">
                    <div class="p-2 flex-fill font-weight-light text-muted text-left" style="font-size: 13px">Nie pamiętasz hasła?</div>
                    <div class="p-2 flex-fill text-right" style="font-size: 13px"><a href="" id="btnReset">Zresetuj hasło</a></div>
                </div>
                <div class="d-flex">
                    <div class="p-2 flex-fill font-weight-light text-muted text-left" style="font-size: 13px">Nie masz konta?</div>
                    <div class="p-2 flex-fill text-right" style="font-size: 13px"><a href="" id="btnRegister">Zarejestruj się</a></div>
                </div>
            </form>
        </div>
    </div>
<!--    Rejestracja-->
    <div id="register" class="card cardRegistry text-center">
        <div class="card-body text-center">
            <h2 class="card-title mb-5">Rejestracja</h2>
            <form method="post">
                <div class="form-group text-left">
                    <input id="email" name="email" type="email" class="form-control" required placeholder="Adres email" >
                    <span class="alert alert-danger" id="emailMessage" style="display: none;
                                        padding: 0.25rem 0.55rem;">
                        </span>
                </div>
                <div class="d-flex">
                    <div class="pr-2 flex-fill form-group text-left">
                        <input id="password" name="password" type="password" class="form-control" required placeholder="Hasło">
                        <!-- An element to toggle between password visibility -->
                        <input class="ml-2" type="checkbox" onclick="showPassword()">
                        <span style="font-weight: bold;">Pokaż hasło</span>
                        <div id="pswd_info">
                            <h4 class="text-center">Hasło musi posiadać następujące cechy:</h4>
                            <ul class="text-left" style="color: black;">
                                <li id="letter" class="invalid">Co najmniej <strong>jedną literę</strong></li>
                                <li id="capital" class="invalid">Co najmniej <strong>jedną wielką literę</strong></li>
                                <li id="number" class="invalid">Co najmniej <strong>jedną cyfrę</strong></li>
                                <li id="length" class="invalid">Co najmniej <strong>8 znaków</strong></li>
                            </ul>
                        </div>
                    </div>

                    <div class="pl-2 flex-fill form-group text-left">
                        <input id="rep_password" name="repeatPassword" type="password" class="form-control" required placeholder="Powtórz hasło">
                        <span class="alert alert-danger" id="message" style="display: none;
                                        padding: 0.25rem 0.55rem;">
                        </span>
                    </div>

                </div>
                <div class="d-flex">
                    <div class="pr-2 flex-fill form-group text-left">
                        <input id="firstName" name="firstName" type="text" class="form-control" required placeholder="Imię">
                    </div>
                    <div class="pl-2 flex-fill form-group text-left">
                        <input id="lastName" name="lastName" type="text" class="form-control" required placeholder="Nazwisko">
                    </div>
                </div>
                <div class="form-group text-left">
                    <input data-date-format="dd/mm/yyyy" id="birthDate" class="form-control" required placeholder="Data urodzenia">
                    <span class="alert alert-danger" id="birthMessage" style="display: none;
                                        padding: 0.25rem 0.55rem;">
                        </span>
                </div>
                <div class="d-flex">
                    <div class="pr-2 flex-fill form-group text-left">
                        <input id="zipCode" name="zipCode" type="text" class="form-control" required placeholder="Kod pocztowy">
                        <span class="alert alert-danger" id="zipMessage" style="display: none;
                                        padding: 0.25rem 0.55rem;">
                        </span>
                    </div>
                    <!-- todo locality must be mandatory (form can be submitted now without this value - button is enabled)-->
                    <div class="pl-2 flex-fill form-group text-left">
                        <input id="city" name="city" type="text" class="form-control" required placeholder="Miejscowość">
                    </div>
                </div>
                <div class="d-flex">
                    <div class="pr-2 form-group text-left" style="flex: 1 0 0">
                        <input id="street" name="street" type="text" class="form-control" required placeholder="Ulica">
                    </div>
                    <div class="pl-2 d-flex" style="flex: 1 0 0">
                        <div class="flex-fill form-group text-left">
                            <input id="homeNr" name="homeNr" type="text" class="form-control" required placeholder="Nr">
                        </div>
                        <div class="pl-2 flex-fill form-group text-left">
                            <input id="flatNr" name="flatNr" type="text" class="form-control" required placeholder="Lokal">
                        </div>
                    </div>
                </div>
                <button id="registerSubmit" class="btn btn-raised btn-primary btn-block mb-3"
                    >Zarejestruj</button>
                <hr/>
                <div class="d-flex">
                    <div class="p-2 flex-fill font-weight-light text-muted text-left" style="font-size: 13px">Masz już konto?</div>
                    <div class="p-2 flex-fill text-right" style="font-size: 13px"><a id="btnLogin" href="">Zaloguj się</a></div>
                </div>
            </form>
        </div>
    </div>
<!--  Resetowanie hasła  -->
    <div id="reset" class="card cardReset text-center">
        <div class="card-body text-center">
            <h2 class="card-title mb-5">Resetowanie hasła</h2>
            <form method="post">
                <div class="form-group text-left mb-4">
                    <input id="emailReset" name="email" type="email" class="form-control" required placeholder="Adres email" >
                    <span class="alert alert-danger" id="emailResetMessage" style="display: none;
                                        padding: 0.25rem 0.55rem;">
                        </span>
                </div>
                <button id="resetSubmit" type="submit" class="btn btn-raised btn-primary btn-block mb-3">Resetuj hasło</button>
                <hr/>
                <div class="d-flex">
                    <div class="p-2 flex-fill font-weight-light text-muted text-left" style="font-size: 13px">Nie masz konta?</div>
                    <div class="p-2 flex-fill text-right" style="font-size: 13px"><a href="" id="btnRegisterReset">Zarejestruj się</a></div>
                </div>
                <div class="d-flex">
                    <div class="p-2 flex-fill text-center mt-5" style="font-size: 13px; background-color: #f2f2f2" ><a class="text-dark font-weight-bold" id="btnLoginReset" href="">Powrót do logowania</a></div>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
$(document).ready(function () {
    $("#resetSubmit").attr("disabled", true);
    $('#emailReset').on('keyup', function () {
        if ($('#emailReset').val().match( /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/ ) ) {
            $('#emailResetMessage').css('display', 'none');
            $("#resetSubmit").attr("disabled", false);
        } else {
            $('#emailResetMessage').html('Zły format adresu email').css('display', 'block')
                .css('background-color', '#f8d7da');
            $("#resetSubmit").attr("disabled", true);
        }
    });
});
</script>
<!-- check new passwords -->
<script>
$(document).ready(function () {
    $("#registerSubmit").attr("disabled", true);
    var log;
    $('#rep_password').on('keyup', function () {
      if ($('#password').val().length > 0 && $('#rep_password').val().length > 0){
          if ($('#password').val() == $('#rep_password').val()) {
            $('#message').html('Nowe hasła do siebie pasują').css('display', 'none');
            if ( $('#email').val().match( /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/ ) &&
                $('#zipCode').val().match( /^\d{2}-\d{3}$/ )
                && $('#password').val() == $('#rep_password').val()
                    ) {
                        $("#registerSubmit").attr("disabled", false);
                    }
          }
          else {
            $('#message').html('Nowe hasła są różne').css('display', 'block')
                .css('background-color', '#f8d7da');
            $("#registerSubmit").attr("disabled", true);
          }
      } else {
            $('#message').html('Nie podano poprawnego hasła').css('display', 'block')
                .css('background-color', '#f8d7da');
            $("#registerSubmit").attr("disabled", true);
       }
    });

    $('#email').on('keyup', function () {
        if ($('#email').val().match( /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/ ) ) {
            $('#emailMessage').css('display', 'none');
            /* main condition */
            var pswd = $('#password').val();
            if ( $('#email').val().match( /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/ ) &&
                $('#zipCode').val().match( /^\d{2}-\d{3}$/ )
                && $('#password').val() == $('#rep_password').val()
                    ) {
                        $("#registerSubmit").attr("disabled", false);
                    }
        } else {
            $('#emailMessage').html('Zły format adresu email').css('display', 'block')
                .css('background-color', '#f8d7da');
            $("#registerSubmit").attr("disabled", true);
        }
    });

    $('#zipCode').on('keyup', function () {
            var zip = $('#zipCode').val();
            if ( zip.match( /^\d{2}-\d{3}$/ ) ){
                $('#zipMessage').css('display', 'none');
                var pswd = $('#password').val();
            if ( $('#email').val().match( /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/ ) &&
                $('#zipCode').val().match( /^\d{2}-\d{3}$/ )
                && $('#password').val() == $('#rep_password').val()
                    ) {
                        $("#registerSubmit").attr("disabled", false);
                    }
            } else {
                $('#zipMessage').html('Zły format kodu pocztowego').css('display', 'block')
                .css('background-color', '#f8d7da');
                $("#registerSubmit").attr("disabled", true);
            }
    });

    $('#birthDate').on('keyup', function () {
            var birth = $('#birthDate').val();
            var res = birth.substring(0, 2);
            var res2 = birth.substring(2, 6);
            var res3 = birth.substring(6, 10);
            var text = res3.concat(res2);
            text = text.concat(res);

            var today = new Date();
            var dd = today.getDate();
            if ( dd < 10 )
            	dd = '0' + dd;

            var mm = today.getMonth()+1;

            if ( mm < 10 )
            	mm = '0' + mm;
            var yyyy = today.getFullYear();
            var today_text = yyyy + "/" + mm + "/" + dd;

            if ( text < today_text ){
                $('#birthMessage').css('display', 'none');
                var pswd = $('#password').val();
            if ( $('#email').val().match( /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/ ) &&
                $('#zipCode').val().match( /^\d{2}-\d{3}$/ )
                && $('#password').val() == $('#rep_password').val()
                    ) {
                        $("#registerSubmit").attr("disabled", false);
                    }
            } else {
                $('#birthMessage').html('Niepoprawna data').css('display', 'block')
                .css('background-color', '#f8d7da');
                $("#registerSubmit").attr("disabled", true);
            }
        });


 });
</script>

<!-- check correctness of new password -->
<script>
    $(document).ready(function () {
        $("#registerSubmit").attr("disabled", true);
        $('#password').keyup(function() {
            // keyup code here
            // set password variable
            var pswd = $('#password').val();

            //validate the length
            if ( pswd.length < 8 ) {
                $('#length').removeClass('valid').addClass('invalid');
            } else {
                $('#length').removeClass('invalid').addClass('valid');
            }

            //validate letter
            if ( pswd.match(/[A-z]/) ) {
                $('#letter').removeClass('invalid').addClass('valid');
            } else {
                $('#letter').removeClass('valid').addClass('invalid');
            }

            //validate capital letter
            if ( pswd.match(/[A-Z]/) ) {
                $('#capital').removeClass('invalid').addClass('valid');
            } else {
                $('#capital').removeClass('valid').addClass('invalid');
            }

            //validate number
            if ( pswd.match(/\d/) ) {
                $('#number').removeClass('invalid').addClass('valid');
            } else {
                $('#number').removeClass('valid').addClass('invalid');
            }

            if (pswd.match(/\d/)
                    && pswd.match(/[A-Z]/) && pswd.match(/[A-z]/) && pswd.length < 8 ) {
                $("#registerSubmit").attr("disabled", false);
            } else {
                $("#registerSubmit").attr("disabled", true);
            }

        }).focus(function() {
            $('#pswd_info').show();
        }).blur(function() {
            $('#pswd_info').hide();
        });
    });
</script>

<!-- show new password -->
<script>
        function showPassword() {
          var x = document.getElementById("password");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
</script>

<!-- submitting the form --->
<script>
    $(document).on('click', '#registerSubmit', function submitData() {
           var email = $('#register #email').val();
           var password = $('#register #password').val();
           var firstName = $('#register #firstName').val();
           var lastName = $('#register #lastName').val();
           var birthDate = $('#register #birthDate').val();
           var zipCode = $('#register #zipCode').val();
           var locality = $('#register #city').val();
           var street = $('#register #street').val();
           var nrHouse = $('#register #homeNr').val();
           var nrFlat = $('#register #flatNr').val();
           var data = [];
           data.push(email);
           data.push(password);
           data.push(firstName);
           data.push(lastName);
           data.push(birthDate);
           data.push(zipCode);
           data.push(locality);
           data.push(street);
           data.push(nrHouse);
           data.push(nrFlat);
           $.ajax({
              type: 'POST',
              url: 'rejestruj',
              data: {data: data},
              success: function(result) {
                  //todo: popup
              },
              error: function(result) {

              }
           });
       });
    //});
</script>

<!-- Bootstrap core JavaScript -->
<script src="../startbootstrap-agency-gh-pages/vendor/jquery/jquery.min.js"></script>
<script src="../startbootstrap-agency-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../startbootstrap-agency-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="../startbootstrap-agency-gh-pages/js/jqBootstrapValidation.js"></script>
<script src="../startbootstrap-agency-gh-pages/js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="../startbootstrap-agency-gh-pages/js/agency.min.js"></script>

<!-- pignose.calendar js -->
<script src="../datepicker-popup/js/pignose.calendar.full.min.js"></script>
<!-- script js -->
<script src="../datepicker-popup/js/script.js"></script>

<!-- Date picker range -->
<script type="text/javascript" src="../../daterangepicker-master/moment.min.js"></script>
<script type="text/javascript" src="../../daterangepicker-master/daterangepicker.js"></script>

<script>
$('#birthDate').daterangepicker({
    "singleDatePicker": true,
    "showDropdowns": true,
    "locale": {
        "format": "DD/MM/YYYY",
        "separator": " / ",
        "applyLabel": "",
        "cancelLabel": "Cancel",
        "fromLabel": "Od",
        "toLabel": "Do",
        "customRangeLabel": "Custom",
        "weekLabel": "T",
        "daysOfWeek": [
            "Nie",
            "Pon",
            "Wto",
            "Śro",
            "Czw",
            "Pią",
            "Sob"
        ],
        "monthNames": [
            "Styczeń",
            "Luty",
            "Marzec",
            "Kwiecień",
            "Maj",
            "Czerwiec",
            "Lipiec",
            "Sierpień",
            "Wrzesień",
            "Październik",
            "Listopad",
            "Grudzień"
        ],
        "firstDay": 1
    },
    "applyButtonClasses": "btn-warning",
    "cancelClass": "btn-warning"
}, function(start, end, label) {
  console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
});
</script>

</body>
</html>